## Create .csv File to Use For Shiny App

Once the decision was made to use a rules based model, a .csv file was put together that only had the necessary information for the shiny app. When making the Shiny App it was found that missing values were causing problems. Schools with missing values in the key variables were dropped from the final .csv and app. The total of schools missing enrollment data was one, schools missing data on absenteeism 18, schools missing data on days missed due to suspensions 19, and schools without data on sports participation was 3,461. The final .csv file had 63 columns.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import math

In [2]:
numbers = pd.read_csv('/Users/flatironschool/Absenteeism_Project/data/processed/combo_cleaned.csv')

In [3]:
numbers.tail()

,Unnamed: 0,Unnamed: 0.1,STNAM,LEANM,NCESSCH,SCHNAM,ALL_COHORT_1516,ALL_RATE_1516,LEA_STATE,LEA_STATE_NAME,...,sports_part,sports_rate,total_suspension_days,suspensed_day_rate,harassed,harassed_rate,activities_funds_rate,non_cert_rate,counselor_rate,absent_teacher_rate
21862,21862,21862,WYOMING,Washakie County School District #2,560582000393,Ten Sleep K-12,10,GE50,WY,WYOMING,...,31.0,0.281818,0.0,0.000000,0.0,0.0,4407.512636,0.0,0.009091,0.000000
21863,21863,21863,WYOMING,Teton County School District #1,560583000335,Jackson Hole High School,127,GE95,WY,WYOMING,...,355.0,0.554688,26.0,0.040625,0.0,0.0,4153.518984,0.0,0.004687,0.118939
21864,21864,21864,WYOMING,Teton County School District #1,560583000512,Summit High School,18,GE80,WY,WYOMING,...,NaN,NaN,10.0,0.185185,0.0,0.0,5469.872593,0.0,0.000000,0.091491
21865,21865,21865,WYOMING,Weston County School District #7,560609000401,Upton High School,21,GE80,WY,WYOMING,...,85.0,0.850000,0.0,0.000000,0.0,0.0,6875.370000,0.0,0.000000,0.162162
21866,21866,21866,WYOMING,Washakie County School District #1,560624000343,Worland High School,105,75-79,WY,WYOMING,...,NaN,NaN,10.0,0.025000,0.0,0.0,3015.755325,0.0,0.004275,0.331544

## Clean up graduation rates and add grad rate bins

In [4]:
#need to keep original reported grade and need column to modify and clean data
numbers['grad_slice'] = numbers['ALL_RATE_1516']

In [5]:
#remove "GE" and "LE" from ranges
numbers['grad_slice'].replace(['GE99'], '+100', inplace=True) # need to replace with 
numbers['grad_slice'].replace(['GE95'], '95', inplace=True)
numbers['grad_slice'].replace(['GE90'], '90', inplace=True)
numbers['grad_slice'].replace(['LE10'], '10', inplace=True)
numbers['grad_slice'].replace(['LE1'], '1', inplace=True)
numbers['grad_slice'].replace(['LE5'], '05', inplace=True)

In [6]:
#smallest range needs to be dealt with, has one digit before '-'
numbers['grad_slice'].replace(['6-9'], '6', inplace=True)

In [7]:
#take first two digits of rates to get rid of ranges
numbers['grad_slice'] = numbers['grad_slice'].str[:2]

In [8]:
#fix 100
numbers['grad_slice'].replace(['+1'], '100', inplace=True)

In [9]:
#get rid of very small schools
grad_num = numbers[numbers['ALL_COHORT_1516'] >= 31]

In [10]:
#create the binned categories
grad_num['grad_rate_bin'] = pd.cut(grad_num['grad_slice'].astype(int), [0, 59, 79, 89, 99, 100],
      labels = ['0-59%', '60-79%', '80-89%', '90-99%', '100%'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
grad_num.tail()

,Unnamed: 0,Unnamed: 0.1,STNAM,LEANM,NCESSCH,SCHNAM,ALL_COHORT_1516,ALL_RATE_1516,LEA_STATE,LEA_STATE_NAME,...,total_suspension_days,suspensed_day_rate,harassed,harassed_rate,activities_funds_rate,non_cert_rate,counselor_rate,absent_teacher_rate,grad_slice,grad_rate_bin
21854,21854,21854,WYOMING,Sheridan County School District #1,560569000311,Big Horn High School,37,GE90,WY,WYOMING,...,2.0,0.013245,4.0,0.026490,1738.913907,0.0,0.006623,0.846154,90,90-99%
21858,21858,21858,WYOMING,Sheridan County School District #2,560569500360,Sheridan High School,236,89,WY,WYOMING,...,46.0,0.046796,0.0,0.000000,1694.559176,0.0,0.005086,0.198779,89,80-89%
21861,21861,21861,WYOMING,Sweetwater County School District #2,560576200324,Green River High School,176,85-89,WY,WYOMING,...,110.0,0.141570,1.0,0.001287,1840.877490,0.0,0.003861,0.200000,85,80-89%
21863,21863,21863,WYOMING,Teton County School District #1,560583000335,Jackson Hole High School,127,GE95,WY,WYOMING,...,26.0,0.040625,0.0,0.000000,4153.518984,0.0,0.004687,0.118939,95,90-99%
21866,21866,21866,WYOMING,Washakie County School District #1,560624000343,Worland High School,105,75-79,WY,WYOMING,...,10.0,0.025000,0.0,0.000000,3015.755325,0.0,0.004275,0.331544,75,60-79%

In [12]:
grad_num['grad_rate_bin'].value_counts()

90-99%    8484
80-89%    4257
60-79%    1993
0-59%     1611
100%       228
Name: grad_rate_bin, dtype: int64

In [13]:
grad_num.columns.to_list()

['Unnamed: 0',
 'Unnamed: 0.1',
 'STNAM',
 'LEANM',
 'NCESSCH',
 'SCHNAM',
 'ALL_COHORT_1516',
 'ALL_RATE_1516',
 'LEA_STATE',
 'LEA_STATE_NAME',
 'LEAID_y',
 'LEA_NAME',
 'SCHID',
 'SCH_NAME',
 'COMBOKEY',
 'JJ',
 'SCH_STATUS_SPED',
 'SCH_STATUS_MAGNET',
 'SCH_STATUS_CHARTER',
 'SCH_STATUS_ALT',
 'SCH_MAGNETDETAIL',
 'SCH_ALTFOCUS',
 'TOT_ENR_M',
 'TOT_ENR_F',
 'TOT_GTENR_M',
 'TOT_GTENR_F',
 'TOT_DUAL_M',
 'TOT_DUAL_F',
 'TOT_ALGENR_GS0910_M',
 'TOT_ALGENR_GS0910_F',
 'TOT_ALGENR_GS1112_M',
 'TOT_ALGENR_GS1112_F',
 'TOT_ALGPASS_GS0910_M',
 'TOT_ALGPASS_GS0910_F',
 'TOT_ALGPASS_GS1112_M',
 'TOT_ALGPASS_GS1112_F',
 'TOT_GEOM_M',
 'TOT_GEOM_F',
 'TOT_MATHENR_ALG2_M',
 'TOT_MATHENR_ALG2_F',
 'TOT_MATHENR_CALC_M',
 'TOT_MATHENR_CALC_F',
 'TOT_MATHENR_ADVM_M',
 'TOT_MATHENR_ADVM_F',
 'TOT_SCIENR_BIOL_M',
 'TOT_SCIENR_BIOL_F',
 'TOT_SCIENR_CHEM_M',
 'TOT_SCIENR_CHEM_F',
 'TOT_SCIENR_PHYS_M',
 'TOT_SCIENR_PHYS_F',
 'TOT_APENR_M',
 'TOT_APENR_F',
 'TOT_IBENR_M',
 'TOT_IBENR_F',
 'TOT_SATACT_M',
 'TOT_SATACT_F',
 'TOT_DAYSMISSED_M',
 'TOT_DAYSMISSED_F',
 'SCH_HBALLEGATIONS_SEX',
 'SCH_HBALLEGATIONS_RAC',
 'SCH_HBALLEGATIONS_DIS',
 'SCH_HBALLEGATIONS_ORI',
 'SCH_HBALLEGATIONS_REL',
 'TOT_ABSENT_M',
 'TOT_ABSENT_F',
 'SCH_SSPART_M',
 'SCH_SSPART_F',
 'TOT_SSPART',
 'SCH_NPE_WOFED',
 'SCH_NPE_WFED',
 'SCH_FTETEACH_TOT',
 'SCH_FTETEACH_NOTCERT',
 'SCH_FTECOUNSELORS',
 'SCH_FTETEACH_ABSENT',
 'districtID',
 'IDSCH',
 'total_enrollment',
 'total_ap_ib_de',
 'ap_ib_de_rate',
 'total_sat_act',
 'sat_act_rate',
 'total_pass_algebra',
 'pass_algebra_rate',
 'total_geometry',
 'geometry_rate',
 'total_algebra2',
 'algebra2_rate',
 'total_calc',
 'calc_rate',
 'total_chronic_absent',
 'chronic_absent_rate',
 'sports_part',
 'sports_rate',
 'total_suspension_days',
 'suspensed_day_rate',
 'harassed',
 'harassed_rate',
 'activities_funds_rate',
 'non_cert_rate',
 'counselor_rate',
 'absent_teacher_rate',
 'grad_slice',
 'grad_rate_bin']

## Create Level Up Bins

In [13]:
#level up bins
#create the binned categories
grad_num['level_up_bins'] = pd.cut(grad_num['grad_slice'].astype(int), 
    [0, 59, 79, 89, 99, 100], labels = ['60-79% Level Up Rate', '80-89% Level Up Rate', '90-99% Level Up Rate', '100% Level Up Rate', '100% Top Rate'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [14]:
grad_num.head()

,Unnamed: 0,Unnamed: 0.1,STNAM,LEANM,NCESSCH,SCHNAM,ALL_COHORT_1516,ALL_RATE_1516,LEA_STATE,LEA_STATE_NAME,...,suspensed_day_rate,harassed,harassed_rate,activities_funds_rate,non_cert_rate,counselor_rate,absent_teacher_rate,grad_slice,grad_rate_bin,level_up_bins
0,0,0,ALABAMA,Albertville City,10000500871,Albertville High Sch,296,92,AL,ALABAMA,...,0.060232,0.0,0.000000,2811.937359,0.0,0.003475,0.378788,92,90-99%,100% Level Up Rate
1,1,1,ALABAMA,Marshall County,10000600872,Asbury Sch,67,GE95,AL,ALABAMA,...,0.018553,2.0,0.003711,4825.189777,0.0,0.002783,0.100000,95,90-99%,100% Level Up Rate
2,2,2,ALABAMA,Marshall County,10000600878,Douglas High Sch,153,85-89,AL,ALABAMA,...,0.030303,5.0,0.008418,5317.932795,0.0,0.001684,0.105263,85,80-89%,90-99% Level Up Rate
3,3,3,ALABAMA,Marshall County,10000600883,Kate D Smith DAR High Sch,120,80-84,AL,ALABAMA,...,0.021786,0.0,0.000000,5909.375686,0.0,0.002179,0.068966,80,80-89%,90-99% Level Up Rate
4,4,4,ALABAMA,Marshall County,10000601585,Brindlee Mt High Sch,94,85-89,AL,ALABAMA,...,0.022039,0.0,0.000000,3962.305785,0.0,0.002755,0.101010,85,80-89%,90-99% Level Up Rate

## Calculate Quantiles and Add to Data Frame

In [15]:
quantile_df_25 = grad_num.groupby('grad_rate_bin')['non_cert_rate', 'sports_rate', 'chronic_absent_rate', 'suspensed_day_rate'].quantile(.25).reset_index()

In [16]:
quantile_df_75 = grad_num.groupby('grad_rate_bin')['non_cert_rate', 'sports_rate', 'chronic_absent_rate', 'suspensed_day_rate'].quantile(.75).reset_index()

In [17]:
quantile_df_25.head()

0.25,grad_rate_bin,non_cert_rate,sports_rate,chronic_absent_rate,suspensed_day_rate
0,0-59%,0.0,0.124414,0.085595,0.000000
1,60-79%,0.0,0.220779,0.160080,0.060664
2,80-89%,0.0,0.275554,0.126976,0.052518
3,90-99%,0.0,0.319483,0.084154,0.016064
4,100%,0.0,0.364777,0.059735,0.008866

In [18]:
quantile_df_75.head()

0.75,grad_rate_bin,non_cert_rate,sports_rate,chronic_absent_rate,suspensed_day_rate
0,0-59%,0.042020,0.406508,0.790489,0.503487
1,60-79%,0.052632,0.451950,0.437500,0.672138
2,80-89%,0.023318,0.536686,0.302113,0.351397
3,90-99%,0.000000,0.649428,0.223554,0.148475
4,100%,0.012500,0.651462,0.143481,0.061694

In [19]:
grad_num = grad_num.merge(quantile_df_25, on='grad_rate_bin', suffixes=('_x', '_25th'))

In [22]:
grad_num = grad_num.merge(quantile_df_75, on='grad_rate_bin', suffixes=('_y', '_75th'))

In [23]:
grad_num.head()

,Unnamed: 0,Unnamed: 0.1,STNAM,LEANM,NCESSCH,SCHNAM,ALL_COHORT_1516,ALL_RATE_1516,LEA_STATE,LEA_STATE_NAME,...,chronic_absent_rate_25th,suspensed_day_rate_25th,non_cert_rate_y,sports_rate_y,chronic_absent_rate_y,suspensed_day_rate_y,non_cert_rate_75th,sports_rate_75th,chronic_absent_rate_75th,suspensed_day_rate_75th
0,0,0,ALABAMA,Albertville City,10000500871,Albertville High Sch,296,92,AL,ALABAMA,...,0.084154,0.016064,0.0,0.649428,0.223554,0.148475,0.0,0.649428,0.223554,0.148475
1,1,1,ALABAMA,Marshall County,10000600872,Asbury Sch,67,GE95,AL,ALABAMA,...,0.084154,0.016064,0.0,0.649428,0.223554,0.148475,0.0,0.649428,0.223554,0.148475
2,5,5,ALABAMA,Hoover City,10000700251,Hoover High Sch,714,92,AL,ALABAMA,...,0.084154,0.016064,0.0,0.649428,0.223554,0.148475,0.0,0.649428,0.223554,0.148475
3,7,7,ALABAMA,Hoover City,10000701456,Spain Park High Sch,412,94,AL,ALABAMA,...,0.084154,0.016064,0.0,0.649428,0.223554,0.148475,0.0,0.649428,0.223554,0.148475
4,8,8,ALABAMA,Madison City,10000800831,Bob Jones High Sch,451,97,AL,ALABAMA,...,0.084154,0.016064,0.0,0.649428,0.223554,0.148475,0.0,0.649428,0.223554,0.148475

## Change column names to final names for shiny app

In [24]:
grad_num.rename(columns={'total_enrollment':'Total_Enrollment','total_chronic_absent':'Number_of_Chronically_Absent_Students', 'sports_part':'Number_of_Student_Athletes'},inplace=True)
grad_num.rename(columns={'ALL_RATE_1516':'Graduation_Rate_2015_16'}, inplace=True)
grad_num.rename(columns={'SCH_FTETEACH_NOTCERT':'Number_of_Non_Certified_Teachers'}, inplace=True)
grad_num.rename(columns={'level_up_bins':'Level_Up_Graduation_Rate'}, inplace=True)
grad_num.rename(columns={'STNAM':'State', 'LEANM':'District', 'SCHNAM':'High_School', 'ALL_RATE_1516':'Graduation_Rate_2015_16'},inplace=True)

In [25]:
grad_num.rename(columns={'total_suspension_days':'Number_of_Days_Missed_to_Suspensions'}, inplace=True)

In [26]:
grad_num.rename(columns={'SCH_FTETEACH_TOT':'Number_of_Total_Teachers'}, inplace=True)

## Calculate Middle 50% Range for App

In [27]:
grad_num['Level_Up_25th_Percentile_Number_Chronic_Absent_Students'] = grad_num['Total_Enrollment'] * grad_num['chronic_absent_rate_25th']
grad_num['Level_Up_75th_Percentile_Number_Chronic_Absent_Students'] = round(grad_num['Total_Enrollment'] * grad_num['chronic_absent_rate_75th'],0)
grad_num['Level_Up_25th_Percentile_Student_Athletes'] = round(grad_num['Total_Enrollment'] * grad_num['sports_rate_25th'],0)
grad_num['Level_Up_75th_Percentile_Student_Athletes'] = round(grad_num['Total_Enrollment'] * grad_num['sports_rate_75th'],0)
grad_num['Level_Up_25th_Percentile_Days_Missed_due_to_Suspension'] = round(grad_num['Total_Enrollment'] * grad_num['suspensed_day_rate_25th'],0)
grad_num['Level_Up_75th_Percentile_Days_Missed_due_to_Suspension'] = round(grad_num['Total_Enrollment'] * grad_num['suspensed_day_rate_75th'],0)
grad_num['Level_Up_25th_Percentile_Non_Certified_Teachers'] = round(grad_num['Total_Enrollment'] * grad_num['non_cert_rate_25th'],0)
grad_num['Level_up_75th_Percentile_Non_Certified_Teachers'] = round(grad_num['Total_Enrollment'] * grad_num['non_cert_rate_75th'],0)

In [28]:
grad_num.head()

,Unnamed: 0,Unnamed: 0.1,State,District,NCESSCH,High_School,ALL_COHORT_1516,Graduation_Rate_2015_16,LEA_STATE,LEA_STATE_NAME,...,chronic_absent_rate_75th,suspensed_day_rate_75th,Level_Up_25th_Percentile_Number_Chronic_Absent_Students,Level_Up_75th_Percentile_Number_Chronic_Absent_Students,Level_Up_25th_Percentile_Student_Athletes,Level_Up_75th_Percentile_Student_Athletes,Level_Up_25th_Percentile_Days_Missed_due_to_Suspension,Level_Up_75th_Percentile_Days_Missed_due_to_Suspension,Level_Up_25th_Percentile_Non_Certified_Teachers,Level_up_75th_Percentile_Non_Certified_Teachers
0,0,0,ALABAMA,Albertville City,10000500871,Albertville High Sch,296,92,AL,ALABAMA,...,0.223554,0.148475,108.979716,290.0,414.0,841.0,21.0,192.0,0.0,0.0
1,1,1,ALABAMA,Marshall County,10000600872,Asbury Sch,67,GE95,AL,ALABAMA,...,0.223554,0.148475,45.359125,120.0,172.0,350.0,9.0,80.0,0.0,0.0
2,5,5,ALABAMA,Hoover City,10000700251,Hoover High Sch,714,92,AL,ALABAMA,...,0.223554,0.148475,249.685574,663.0,948.0,1927.0,48.0,441.0,0.0,0.0
3,7,7,ALABAMA,Hoover City,10000701456,Spain Park High Sch,412,94,AL,ALABAMA,...,0.223554,0.148475,141.126629,375.0,536.0,1089.0,27.0,249.0,0.0,0.0
4,8,8,ALABAMA,Madison City,10000800831,Bob Jones High Sch,451,97,AL,ALABAMA,...,0.223554,0.148475,147.774812,393.0,561.0,1140.0,28.0,261.0,0.0,0.0

## Add back in the Chronic Absentee Rate and Sports Participation Rate for each school

In [29]:
grad_num['Chronic_Absent_Rate'] = grad_num['Number_of_Chronically_Absent_Students']/grad_num['Total_Enrollment']
grad_num['Sports_Participant_Rate'] = grad_num['Number_of_Student_Athletes']/grad_num['Total_Enrollment']

## Clean up final data frame and save to csv

In [30]:
grad_num.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)
grad_num.drop(['LEA_STATE_NAME', 'SCH_NAME', 'SCH_MAGNETDETAIL','SCH_ALTFOCUS', 'TOT_GTENR_M', 'TOT_GTENR_F'], axis=1, inplace=True)
grad_num.drop(grad_num.columns.to_series()['TOT_ALGENR_GS0910_M':'TOT_SATACT_F'], axis=1, inplace=True)
grad_num.drop(grad_num.columns.to_series()['SCH_HBALLEGATIONS_SEX':'SCH_HBALLEGATIONS_REL'], axis=1, inplace=True)
grad_num.drop(['SCH_NPE_WOFED', 'SCH_NPE_WFED', 'SCH_FTECOUNSELORS', 'SCH_FTETEACH_ABSENT'], axis=1, inplace=True)
grad_num.drop(grad_num.columns.to_series()['total_ap_ib_de':'calc_rate'], axis=1, inplace=True)
grad_num.drop(grad_num.columns.to_series()['harassed':'activities_funds_rate'], axis=1, inplace=True)
grad_num.drop(['counselor_rate', 'absent_teacher_rate'], axis=1, inplace=True)

In [31]:
grad_num.drop(['TOT_DUAL_M', 'TOT_DUAL_F'], axis=1, inplace=True)

In [32]:
#delete rows no longer needed for shiny app
#delete rows with NANs
#no missing values
grad_num.isna().sum()

State                                                         0
District                                                      0
NCESSCH                                                       0
High_School                                                   0
ALL_COHORT_1516                                               0
Graduation_Rate_2015_16                                       0
LEA_STATE                                                     0
LEAID_y                                                       0
LEA_NAME                                                      0
SCHID                                                         0
COMBOKEY                                                      0
JJ                                                            0
SCH_STATUS_SPED                                               0
SCH_STATUS_MAGNET                                             0
SCH_STATUS_CHARTER                                            0
SCH_STATUS_ALT                                                0
TOT_ENR_M                                                     1
TOT_ENR_F                                                     1
TOT_DAYSMISSED_M                                             19
TOT_DAYSMISSED_F                                             18
TOT_ABSENT_M                                                 18
TOT_ABSENT_F                                                 18
SCH_SSPART_M                                               3461
SCH_SSPART_F                                               3461
TOT_SSPART                                                 3461
Number_of_Total_Teachers                                      3
Number_of_Non_Certified_Teachers                              3
districtID                                                    0
IDSCH                                                         0
Total_Enrollment                                              1
                                                           ...
Number_of_Student_Athletes                                 3461
sports_rate_x                                              3461
Number_of_Days_Missed_to_Suspensions                         18
suspensed_day_rate_x                                         18
non_cert_rate_x                                             134
grad_slice                                                    0
grad_rate_bin                                                 0
Level_Up_Graduation_Rate                                      0
non_cert_rate_25th                                            0
sports_rate_25th                                              0
chronic_absent_rate_25th                                      0
suspensed_day_rate_25th                                       0
non_cert_rate_y                                               0
sports_rate_y                                                 0
chronic_absent_rate_y                                         0
suspensed_day_rate_y                                          0
non_cert_rate_75th                                            0
sports_rate_75th                                              0
chronic_absent_rate_75th                                      0
suspensed_day_rate_75th                                       0
Level_Up_25th_Percentile_Number_Chronic_Absent_Students       1
Level_Up_75th_Percentile_Number_Chronic_Absent_Students       1
Level_Up_25th_Percentile_Student_Athletes                     1
Level_Up_75th_Percentile_Student_Athletes                     1
Level_Up_25th_Percentile_Days_Missed_due_to_Suspension        1
Level_Up_75th_Percentile_Days_Missed_due_to_Suspension        1
Level_Up_25th_Percentile_Non_Certified_Teachers               1
Level_up_75th_Percentile_Non_Certified_Teachers               1
Chronic_Absent_Rate                                          18
Sports_Participant_Rate                                    3461
Length: 62, dtype: int64

In [33]:
#delete rows with NANs in enrollment, absenteeism, sports participation, non-certified teachers,
#and days missed to suspension
grad_num.dropna(subset=['Total_Enrollment', 'TOT_ENR_M', 'TOT_ENR_F'], inplace=True)

In [33]:
grad_num.dropna(subset=['Number_of_Chronically_Absent_Students','TOT_ABSENT_M', 'TOT_ABSENT_F'], inplace=True)

In [34]:
grad_num.dropna(subset=['Number_of_Student_Athletes', 'SCH_SSPART_M', 'SCH_SSPART_F', 'TOT_SSPART'], inplace=True)

In [35]:
grad_num.dropna(subset=['Number_of_Non_Certified_Teachers', 'non_cert_rate_x', 'Number_of_Total_Teachers'], inplace=True)

In [36]:
grad_num.dropna(subset=['TOT_DAYSMISSED_M', 'TOT_DAYSMISSED_F', 'Number_of_Days_Missed_to_Suspensions', 'suspensed_day_rate_x'], inplace=True)

## Save the final data frame to csv for future use

In [37]:
grad_num2 = grad_num

In [38]:
#data frame deleting NANs
grad_num2.to_csv('grad_num2.csv')

In [39]:
grad_num2.head()

,State,District,NCESSCH,High_School,ALL_COHORT_1516,Graduation_Rate_2015_16,LEA_STATE,LEAID_y,LEA_NAME,SCHID,...,Level_Up_25th_Percentile_Number_Chronic_Absent_Students,Level_Up_75th_Percentile_Number_Chronic_Absent_Students,Level_Up_25th_Percentile_Student_Athletes,Level_Up_75th_Percentile_Student_Athletes,Level_Up_25th_Percentile_Days_Missed_due_to_Suspension,Level_Up_75th_Percentile_Days_Missed_due_to_Suspension,Level_Up_25th_Percentile_Non_Certified_Teachers,Level_up_75th_Percentile_Non_Certified_Teachers,Chronic_Absent_Rate,Sports_Participant_Rate
0,ALABAMA,Albertville City,10000500871,Albertville High Sch,296,92,AL,100005,Albertville City,871,...,108.979716,290.0,414.0,841.0,21.0,192.0,0.0,0.0,0.213127,0.169884
1,ALABAMA,Marshall County,10000600872,Asbury Sch,67,GE95,AL,100006,Marshall County,872,...,45.359125,120.0,172.0,350.0,9.0,80.0,0.0,0.0,0.202226,0.324675
2,ALABAMA,Hoover City,10000700251,Hoover High Sch,714,92,AL,100007,Hoover City,251,...,249.685574,663.0,948.0,1927.0,48.0,441.0,0.0,0.0,0.144253,0.302663
3,ALABAMA,Hoover City,10000701456,Spain Park High Sch,412,94,AL,100007,Hoover City,1456,...,141.126629,375.0,536.0,1089.0,27.0,249.0,0.0,0.0,0.171139,0.313655
4,ALABAMA,Madison City,10000800831,Bob Jones High Sch,451,97,AL,100008,Madison City,831,...,147.774812,393.0,561.0,1140.0,28.0,261.0,0.0,0.0,0.009112,0.321754

In [40]:
grad_num2['Number_of_Days_Missed_to_Suspensions'].mean()

237.23784072688403

In [41]:
grad_num2['Total_Enrollment'].max()

11441.0

In [42]:
sns.lmplot(data = grad_num2, x='Chronic')

,State,District,NCESSCH,High_School,ALL_COHORT_1516,Graduation_Rate_2015_16,LEA_STATE,LEAID_y,LEA_NAME,SCHID,...,Level_Up_25th_Percentile_Number_Chronic_Absent_Students,Level_Up_75th_Percentile_Number_Chronic_Absent_Students,Level_Up_25th_Percentile_Student_Athletes,Level_Up_75th_Percentile_Student_Athletes,Level_Up_25th_Percentile_Days_Missed_due_to_Suspension,Level_Up_75th_Percentile_Days_Missed_due_to_Suspension,Level_Up_25th_Percentile_Non_Certified_Teachers,Level_up_75th_Percentile_Non_Certified_Teachers,Chronic_Absent_Rate,Sports_Participant_Rate
0,ALABAMA,Albertville City,10000500871,Albertville High Sch,296,92,AL,100005,Albertville City,871,...,108.979716,290.0,414.0,841.0,21.0,192.0,0.0,0.0,0.213127,0.169884
1,ALABAMA,Marshall County,10000600872,Asbury Sch,67,GE95,AL,100006,Marshall County,872,...,45.359125,120.0,172.0,350.0,9.0,80.0,0.0,0.0,0.202226,0.324675
2,ALABAMA,Hoover City,10000700251,Hoover High Sch,714,92,AL,100007,Hoover City,251,...,249.685574,663.0,948.0,1927.0,48.0,441.0,0.0,0.0,0.144253,0.302663
3,ALABAMA,Hoover City,10000701456,Spain Park High Sch,412,94,AL,100007,Hoover City,1456,...,141.126629,375.0,536.0,1089.0,27.0,249.0,0.0,0.0,0.171139,0.313655
4,ALABAMA,Madison City,10000800831,Bob Jones High Sch,451,97,AL,100008,Madison City,831,...,147.774812,393.0,561.0,1140.0,28.0,261.0,0.0,0.0,0.009112,0.321754
5,ALABAMA,Madison City,10000802198,James Clemens High School,404,96,AL,100008,Madison City,2198,...,143.735410,382.0,546.0,1109.0,27.0,254.0,0.0,0.0,0.103630,0.163934
6,ALABAMA,Leeds City,10001102096,Leeds High Sch,123,90-94,AL,100011,Leeds City,2096,...,39.468330,105.0,150.0,305.0,8.0,70.0,0.0,0.0,0.166311,0.539446
7,ALABAMA,Trussville City,10001301682,Hewitt-Trussville High Sch,381,96,AL,100013,Trussville City,1682,...,121.266233,322.0,460.0,936.0,23.0,214.0,0.0,0.0,0.104788,0.554476
8,ALABAMA,Alexander City,10003000003,Benjamin Russell High Sch,268,90-94,AL,100030,Alexander City,3,...,79.609893,211.0,302.0,614.0,15.0,140.0,0.0,0.0,0.121564,0.349894
9,ALABAMA,Andalusia City,10006000007,Andalusia High Sch,99,90-94,AL,100060,Andalusia City,7,...,40.309872,107.0,153.0,311.0,8.0,71.0,0.0,0.0,0.212944,0.446764
10,ALABAMA,Arab City,10010000028,Arab High Sch,199,90-94,AL,100100,Arab City,28,...,63.452283,169.0,241.0,490.0,12.0,112.0,0.0,0.0,0.168435,0.156499
11,ALABAMA,Athens City,10012001472,Athens High Sch,287,90,AL,100120,Athens City,1472,...,104.435389,277.0,396.0,806.0,20.0,184.0,0.0,0.0,0.016116,0.450443
12,ALABAMA,Saraland City,10018502137,Saraland High Sch,243,92,AL,100185,Saraland City,2137,...,84.995763,226.0,323.0,656.0,16.0,150.0,0.0,0.0,0.208911,0.482178
13,ALABAMA,Alabaster City,10019001183,Thompson High School,435,97,AL,100190,Alabaster City,1183,...,157.789165,419.0,599.0,1218.0,30.0,278.0,0.0,0.0,0.140800,0.218133
14,ALABAMA,Pelham City,10019402399,Pelham High School,220,95,AL,100194,Pelham City,2399,...,75.991262,202.0,288.0,586.0,15.0,134.0,0.0,0.0,0.114064,0.522702
15,ALABAMA,Baldwin County,10027000100,Fairhope High Sch,362,91,AL,100270,Baldwin County,100,...,132.037973,351.0,501.0,1019.0,25.0,233.0,0.0,0.0,0.952199,0.136393
16,ALABAMA,Baldwin County,10027001759,Daphne High Sch,311,92,AL,100270,Baldwin County,1759,...,100.985065,268.0,383.0,779.0,19.0,178.0,0.0,0.0,0.965000,0.178333
17,ALABAMA,Bibb County,10036000099,West Blocton High Sch,128,90-94,AL,100360,Bibb County,99,...,41.403877,110.0,157.0,320.0,8.0,73.0,0.0,0.0,0.028455,0.386179
18,ALABAMA,Birmingham City,10039000176,Ramsay High Sch,197,GE95,AL,100390,Birmingham City,176,...,68.249073,181.0,259.0,527.0,13.0,120.0,0.0,0.0,0.223181,0.519112
19,ALABAMA,Blount County,10042000206,Cleveland High Sch,53,GE90,AL,100420,Blount County,206,...,34.503231,92.0,131.0,266.0,7.0,61.0,0.0,0.0,0.119512,0.595122
20,ALABAMA,Blount County,10042000208,Hayden High Sch,172,GE95,AL,100420,Blount County,208,...,74.813103,199.0,284.0,577.0,14.0,132.0,0.0,0.0,0.121485,0.318335
21,ALABAMA,Blount County,10042000210,Locust Fork High Sch,99,90-94,AL,100420,Blount County,210,...,42.918653,114.0,163.0,331.0,8.0,76.0,0.0,0.0,0.170588,0.507843
22,ALABAMA,Blount County,10042000211,Southeastern Elem Sch,46,GE90,AL,100420,Blount County,211,...,61.180119,163.0,232.0,472.0,12.0,108.0,0.0,0.0,0.100413,0.314993
23,ALABAMA,Blount County,10042000213,Susan Moore High Sch,80,90-94,AL,100420,Blount County,213,...,49.650991,132.0,188.0,383.0,9.0,88.0,0.0,0.0,0.210169,0.301695
24,ALABAMA,Brewton City,10045000216,TR Miller High Sch,87,90-94,AL,100450,Brewton City,216,...,30.295520,80.0,115.0,234.0,6.0,53.0,0.0,0.0,0.102778,0.411111
25,ALABAMA,Calhoun County,10054000240,Ohatchee High Sch,85,GE95,AL,100540,Calhoun County,240,...,40.394026,107.0,153.0,312.0,8.0,71.0,0.0,0.0,0.241667,0.883333
26,ALABAMA,Calhoun County,10054000243,Saks High Sch,109,90-94,AL,100540,Calhoun County,243,...,32.735992,87.0,124.0,253.0,6.0,58.0,0.0,0.0,0.218509,0.241645
27,ALABAMA,Calhoun County,10054000247,Weaver High Sch,90,90-94,AL,100540,Calhoun County,247,...,46.958055,125.0,178.0,362.0,9.0,83.0,0.0,0.0,0.243728,0.227599
28,ALABAMA,Calhoun County,10054000250,White Plains High Sch,101,GE95,AL,100540,Calhoun County,250,...,36.270469,96.0,138.0,280.0,7.0,64.0,0.0,0.0,0.192575,0.252900
29,ALABAMA,Calhoun County,10054001488,Pleasant Valley High Sch,78,90-94,AL,100540,Calhoun County,1488,...,41.740494,111.0,158.0,322.0,8.0,74.0,0.0,0.0,0.179435,0.437500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16540,TEXAS,CANYON ISD,481281000774,CANYON H S,255,GE99,TX,4812810,CANYON ISD,774,...,69.053520,166.0,422.0,753.0,10.0,71.0,0.0,14.0,0.155709,0.237024
16541,TEXAS,CARROLL ISD,481302000791,CARROLL SENIOR H S,620,GE99,TX,4813020,CARROLL ISD,791,...,77.356668,186.0,472.0,844.0,11.0,80.0,0.0,16.0,0.029344,0.376062
16542,TEXAS,CARROLLTON-FARMERS BRANCH ISD,481305009190,RANCHVIEW H S,208,GE99,TX,4813050,CARROLLTON-FARMERS BRANCH ISD,9190,...,51.610935,124.0,315.0,563.0,8.0,53.0,0.0,11.0,0.175926,0.449074
16543,TEXAS,COMAL ISD,481473000974,SMITHSON VALLEY H S,553,GE99,TX,4814730,COMAL ISD,974,...,151.308448,363.0,924.0,1650.0,22.0,156.0,0.0,32.0,0.093960,0.156731
16544,TEXAS,COPPELL ISD,481521001028,COPPELL H S,793,GE99,TX,4815210,COPPELL ISD,1028,...,195.034380,468.0,1191.0,2127.0,29.0,201.0,0.0,41.0,0.048392,0.422052
16546,TEXAS,EANES ISD,481776001549,WESTLAKE H S,601,GE99,TX,4817760,EANES ISD,1549,...,154.295192,371.0,942.0,1683.0,23.0,159.0,0.0,32.0,0.120015,0.591560
16547,TEXAS,FORNEY ISD,481956001810,FORNEY H S,326,GE99,TX,4819560,FORNEY ISD,1810,...,84.584589,203.0,517.0,922.0,13.0,87.0,0.0,18.0,0.057910,0.553672
16548,TEXAS,FRISCO ISD,482001001956,FRISCO H S,534,GE99,TX,4820010,FRISCO ISD,1956,...,108.179866,260.0,661.0,1180.0,16.0,112.0,0.0,23.0,0.129763,0.394809
16549,TEXAS,FRISCO ISD,482001009160,CENTENNIAL H S,437,GE99,TX,4820010,FRISCO ISD,9160,...,121.859153,293.0,744.0,1329.0,18.0,126.0,0.0,26.0,0.123529,0.385784
16550,TEXAS,FRISCO ISD,482001011166,LIBERTY H S,442,GE99,TX,4820010,FRISCO ISD,11166,...,124.368018,299.0,759.0,1356.0,18.0,128.0,0.0,26.0,0.115754,0.385207
16551,TEXAS,FRISCO ISD,482001012192,HERITAGE H S,411,GE99,TX,4820010,FRISCO ISD,12192,...,115.885665,278.0,708.0,1264.0,17.0,120.0,0.0,24.0,0.074742,0.405670
16552,TEXAS,GEORGETOWN ISD,482060008083,EAST VIEW H S,342,GE99,TX,4820600,GEORGETOWN ISD,8083,...,90.139932,217.0,550.0,983.0,13.0,93.0,0.0,19.0,0.013254,0.404241
16555,TEXAS,KATY ISD,482517010760,SEVEN LAKES H S,731,GE99,TX,4825170,KATY ISD,10760,...,193.242333,464.0,1180.0,2107.0,29.0,200.0,0.0,40.0,0.043277,0.362906
16556,TEXAS,LA VERNIA ISD,482631002968,LA VERNIA H S,234,GE99,TX,4826310,LA VERNIA ISD,2968,...,63.378707,152.0,387.0,691.0,9.0,65.0,0.0,13.0,0.000000,0.430726
16557,TEXAS,LEANDER ISD,482703008089,CEDAR PARK H S,445,GE99,TX,4827030,LEANDER ISD,8089,...,116.662219,280.0,712.0,1272.0,17.0,120.0,0.0,24.0,0.107015,0.406042
16558,TEXAS,MCKINNEY ISD,482985010501,MCKINNEY BOYD H S,689,GE99,TX,4829850,MCKINNEY ISD,10501,...,169.945731,408.0,1038.0,1853.0,25.0,176.0,0.0,36.0,0.147979,0.333568
16559,TEXAS,MIDWAY ISD,483064003463,MIDWAY H S,561,GE99,TX,4830640,MIDWAY ISD,3463,...,144.677877,348.0,883.0,1578.0,21.0,149.0,0.0,30.0,0.072667,0.428984
16560,TEXAS,NORTHSIDE ISD,483312012347,BRENNAN H S,593,GE99,TX,4833120,NORTHSIDE ISD,12347,...,161.045234,387.0,983.0,1756.0,24.0,166.0,0.0,34.0,0.149852,0.169510
16561,TEXAS,PEARLAND ISD,483444003863,PEARLAND H S,646,GE99,TX,4834440,PEARLAND ISD,3863,...,177.651530,427.0,1085.0,1937.0,26.0,183.0,0.0,37.0,0.305649,0.283793
16562,TEXAS,PEARLAND ISD,483444011446,GLENDA DAWSON H S,564,GE99,TX,4834440,PEARLAND ISD,11446,...,144.020793,346.0,879.0,1571.0,21.0,149.0,0.0,30.0,0.208627,0.338864
16563,TEXAS,PLEASANTON ISD,483519003984,PLEASANTON H S,222,GE99,TX,4835190,PLEASANTON ISD,3984,...,58.241507,140.0,356.0,635.0,9.0,60.0,0.0,12.0,0.203077,0.124103
16564,TEXAS,PROSPER ISD,483600004064,PROSPER H S,433,GE99,TX,4836000,PROSPER ISD,4064,...,125.921125,302.0,769.0,1373.0,19.0,130.0,0.0,26.0,0.147059,0.480076
16565,TEXAS,ROUND ROCK ISD,483808004254,ROUND ROCK H S,674,GE99,TX,4838080,ROUND ROCK ISD,4254,...,187.328580,450.0,1144.0,2043.0,28.0,193.0,0.0,39.0,0.103316,0.355230
16566,TEXAS,WEATHERFORD ISD,484480005100,WEATHERFORD H S,503,GE99,TX,4844800,WEATHERFORD ISD,5100,...,139.242003,334.0,850.0,1519.0,21.0,144.0,0.0,29.0,0.160017,0.165165
16567,VIRGINIA,FAIRFAX CO PBLC SCHS,510126002034,THOMAS JEFFERSON HIGH,458,GE99,VA,5101260,FAIRFAX CO PBLC SCHS,2034,...,108.836949,261.0,665.0,1187.0,16.0,112.0,0.0,23.0,0.111416,0.499451
16568,WISCONSIN,Greendale School District,550591002254,Greendale High,222,GE99,WI,5505910,Greendale School District,2254,...,55.433968,133.0,339.0,605.0,8.0,57.0,0.0,12.0,0.062500,0.721983
16569,WISCONSIN,Arrowhead UHS School District,550618000678,Arrowhead High,574,GE99,WI,5506180,Arrowhead UHS School District,678,...,132.253022,318.0,808.0,1442.0,20.0,137.0,0.0,28.0,0.066396,0.745709
16570,WISCONSIN,Hortonville Area School District,550660000715,Hortonville High,275,GE99,WI,5506600,Hortonville Area School District,715,...,64.872078,156.0,396.0,707.0,10.0,67.0,0.0,14.0,0.179558,0.418048
16571,WISCONSIN,Kimberly Area School District,550747000850,Kimberly High,347,GE99,WI,5507470,Kimberly Area School District,850,...,87.989477,211.0,537.0,960.0,13.0,91.0,0.0,18.0,0.104549,0.703327
16572,WISCONSIN,Stoughton Area School District,551455001886,Stoughton High,256,GE99,WI,5514550,Stoughton Area School District,1886,...,61.765865,148.0,377.0,674.0,9.0,64.0,0.0,13.0,0.238878,0.848162