In [65]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [66]:
binned = pd.read_csv('/Users/flatironschool/Absenteeism_Project/data/processed/combo_cleaned.csv')

In [67]:
binned.head()

,Unnamed: 0,Unnamed: 0.1,STNAM,LEANM,NCESSCH,SCHNAM,ALL_COHORT_1516,ALL_RATE_1516,LEA_STATE,LEA_STATE_NAME,...,sports_part,sports_rate,total_suspension_days,suspensed_day_rate,harassed,harassed_rate,activities_funds_rate,non_cert_rate,counselor_rate,absent_teacher_rate
0,0,0,ALABAMA,Albertville City,10000500871,Albertville High Sch,296,92,AL,ALABAMA,...,220.0,0.169884,78.0,0.060232,0.0,0.000000,2811.937359,0.0,0.003475,0.378788
1,1,1,ALABAMA,Marshall County,10000600872,Asbury Sch,67,GE95,AL,ALABAMA,...,175.0,0.324675,10.0,0.018553,2.0,0.003711,4825.189777,0.0,0.002783,0.100000
2,2,2,ALABAMA,Marshall County,10000600878,Douglas High Sch,153,85-89,AL,ALABAMA,...,229.0,0.385522,18.0,0.030303,5.0,0.008418,5317.932795,0.0,0.001684,0.105263
3,3,3,ALABAMA,Marshall County,10000600883,Kate D Smith DAR High Sch,120,80-84,AL,ALABAMA,...,241.0,0.525054,10.0,0.021786,0.0,0.000000,5909.375686,0.0,0.002179,0.068966
4,4,4,ALABAMA,Marshall County,10000601585,Brindlee Mt High Sch,94,85-89,AL,ALABAMA,...,64.0,0.176309,8.0,0.022039,0.0,0.000000,3962.305785,0.0,0.002755,0.101010

## Imputed mean for missing values

In [117]:
#impute mean for numerical vars
binned_feat = binned[['total_enrollment', 'ap_ib_de_rate', 'sat_act_rate', 'pass_algebra_rate',
      'geometry_rate', 'algebra2_rate', 'calc_rate', 'chronic_absent_rate', 'activities_funds_rate',
      'sports_rate', 'suspensed_day_rate', 'harassed_rate',
      'non_cert_rate','counselor_rate','absent_teacher_rate']]

In [118]:
imputed_numeric_df = binned_feat
for i in range(0, len(binned_feat.columns)):
    print('im here:', binned_feat.columns[i])
    imputed_numeric_df.iloc[:,i].replace(np.NaN, imputed_numeric_df.iloc[:,i].mean(), inplace=True)

im here: total_enrollment
im here: ap_ib_de_rate
im here: sat_act_rate
im here: pass_algebra_rate
im here: geometry_rate
im here: algebra2_rate
im here: calc_rate
im here: chronic_absent_rate
im here: activities_funds_rate
im here: sports_rate
im here: suspensed_day_rate
im here: harassed_rate
im here: non_cert_rate
im here: counselor_rate
im here: absent_teacher_rate

In [119]:
#No missing values
imputed_numeric_df.isna().sum()

total_enrollment         0
ap_ib_de_rate            0
sat_act_rate             0
pass_algebra_rate        0
geometry_rate            0
algebra2_rate            0
calc_rate                0
chronic_absent_rate      0
activities_funds_rate    0
sports_rate              0
suspensed_day_rate       0
harassed_rate            0
non_cert_rate            0
counselor_rate           0
absent_teacher_rate      0
dtype: int64

## Binning Graduation Rates into 10 Rates

In [81]:
#separate out schools that have 31 or more students in the graduation class
bigger = binned[binned['ALL_COHORT_1516'] >= 31]

In [82]:
#remove "GE" and "LE" from ranges
bigger.replace({'ALL_RATE_1516': 'GE95'}, '95', inplace=True)
bigger.replace({'ALL_RATE_1516': 'GE90'}, '90', inplace=True)
bigger.replace({'ALL_RATE_1516': 'GE99'}, '99', inplace=True)
bigger.replace({'ALL_RATE_1516': 'LE10'}, '10', inplace=True)
bigger.replace({'ALL_RATE_1516': 'LE1'}, '1', inplace=True)
bigger.replace({'ALL_RATE_1516': 'LE5'}, '5', inplace=True)

/anaconda3/envs/absenteeism/lib/python3.6/site-packages/pandas/core/frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

In [83]:
#smallest range needs to be dealt with
bigger.replace({'ALL_RATE_1516': '6-9'}, '6', inplace=True)

/anaconda3/envs/absenteeism/lib/python3.6/site-packages/pandas/core/frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

In [95]:
bigger['ALL_RATE_1516'][0].split('-')

['92']

In [104]:
bigger['grad_rate_bin'].unique()

array(['92', '95', '85', '80', '94', '97', '96', '90', '75', '83', '70',
       '89', '87', '91', '84', '79', '77', '69', '68', '81', '93', '88',
       '98', '82', '86', '76', '78', '73', '66', '74', '60', '11', '50',
       '35', '10', '30', '40', '65', '45', '20', '25', '33', '24', '5',
       '14', '6', '55', '19', '67', '1', '71', '15', '99', '22', '46',
       '18', '49', '52', '51', '62', '53', '37', '56', '29', '38', '72',
       '63', '61', '47', '48', '64', '21', '9', '13', '58', '8', '39',
       '54', '57', '59', '42', '4', '28', '36', '3', '17', '34', '12',
       '23', '27', '32', '41'], dtype=object)

In [106]:
bigger

,Unnamed: 0,Unnamed: 0.1,STNAM,LEANM,NCESSCH,SCHNAM,ALL_COHORT_1516,ALL_RATE_1516,LEA_STATE,LEA_STATE_NAME,...,total_suspension_days,suspensed_day_rate,harassed,harassed_rate,activities_funds_rate,non_cert_rate,counselor_rate,absent_teacher_rate,grad_rate_bin,grad_slice
0,0,0,ALABAMA,Albertville City,10000500871,Albertville High Sch,296,92,AL,ALABAMA,...,78.0,0.060232,0.0,0.000000,2811.937359,0.000000,0.003475,0.378788,92,92
1,1,1,ALABAMA,Marshall County,10000600872,Asbury Sch,67,95,AL,ALABAMA,...,10.0,0.018553,2.0,0.003711,4825.189777,0.000000,0.002783,0.100000,95,95
2,2,2,ALABAMA,Marshall County,10000600878,Douglas High Sch,153,85-89,AL,ALABAMA,...,18.0,0.030303,5.0,0.008418,5317.932795,0.000000,0.001684,0.105263,85,85
3,3,3,ALABAMA,Marshall County,10000600883,Kate D Smith DAR High Sch,120,80-84,AL,ALABAMA,...,10.0,0.021786,0.0,0.000000,5909.375686,0.000000,0.002179,0.068966,80,80
4,4,4,ALABAMA,Marshall County,10000601585,Brindlee Mt High Sch,94,85-89,AL,ALABAMA,...,8.0,0.022039,0.0,0.000000,3962.305785,0.000000,0.002755,0.101010,85,85
5,5,5,ALABAMA,Hoover City,10000700251,Hoover High Sch,714,92,AL,ALABAMA,...,160.0,0.053927,1.0,0.000337,434.833734,0.019066,0.001685,0.333651,92,92
7,7,7,ALABAMA,Hoover City,10000701456,Spain Park High Sch,412,94,AL,ALABAMA,...,232.0,0.138342,0.0,0.000000,511.925343,0.016920,0.001789,0.346870,94,94
8,8,8,ALABAMA,Madison City,10000800831,Bob Jones High Sch,451,97,AL,ALABAMA,...,72.0,0.041002,2.0,0.001139,72676.817158,0.000000,0.002278,0.019608,97,97
9,9,9,ALABAMA,Madison City,10000802198,James Clemens High School,404,96,AL,ALABAMA,...,134.0,0.078454,0.0,0.000000,3478.029292,0.000000,0.002635,0.232804,96,96
10,10,10,ALABAMA,Leeds City,10001102096,Leeds High Sch,123,90-94,AL,ALABAMA,...,56.0,0.119403,0.0,0.000000,3966.648380,0.000000,0.002132,0.343750,90,90
11,11,11,ALABAMA,Boaz City,10001200874,Boaz High Sch,151,80-84,AL,ALABAMA,...,18.0,0.029316,3.0,0.004886,3201.370049,0.000000,0.003257,0.431551,80,80
12,12,12,ALABAMA,Trussville City,10001301682,Hewitt-Trussville High Sch,381,96,AL,ALABAMA,...,28.0,0.019431,2.0,0.001388,3970.929743,0.000000,0.002082,0.231027,96,96
14,14,14,ALABAMA,Alexander City,10003000003,Benjamin Russell High Sch,268,90-94,AL,ALABAMA,...,208.0,0.219873,0.0,0.000000,4050.378932,0.000000,0.003171,0.661157,90,90
15,15,15,ALABAMA,Andalusia City,10006000007,Andalusia High Sch,99,90-94,AL,ALABAMA,...,0.0,0.000000,0.0,0.000000,2142.083361,0.000000,0.002088,0.343750,90,90
16,16,16,ALABAMA,Anniston City,10009000011,Anniston High Sch,154,75-79,AL,ALABAMA,...,5724.0,11.157895,0.0,0.000000,3860.323587,0.021368,0.003899,0.277778,75,75
17,17,17,ALABAMA,Arab City,10010000028,Arab High Sch,199,90-94,AL,ALABAMA,...,6.0,0.007958,0.0,0.000000,1243.496671,0.000000,0.002653,0.125000,90,90
18,18,18,ALABAMA,Athens City,10012001472,Athens High Sch,287,90,AL,ALABAMA,...,42.0,0.033844,0.0,0.000000,1009.683320,0.077519,0.002417,0.232558,90,90
19,19,19,ALABAMA,Attalla City,10018000033,Etowah High Sch,207,83,AL,ALABAMA,...,170.0,0.256024,0.0,0.000000,3128.736130,0.000000,0.002259,0.066460,83,83
20,20,20,ALABAMA,Saraland City,10018502137,Saraland High Sch,243,92,AL,ALABAMA,...,236.0,0.233663,1.0,0.000990,2152.832693,1.000000,0.002970,0.105727,92,92
21,21,21,ALABAMA,Chickasaw City,10018802194,Chickasaw City High Sch,53,70-79,AL,ALABAMA,...,218.0,0.428291,5.0,0.009823,2314.072692,0.000000,0.003929,0.000000,70,70
22,22,22,ALABAMA,Satsuma City,10018902195,Satsuma City High School,103,85-89,AL,ALABAMA,...,66.0,0.103448,9.0,0.014107,8144.207100,0.000000,0.002351,0.377140,85,85
23,23,23,ALABAMA,Alabaster City,10019001183,Thompson High School,435,97,AL,ALABAMA,...,552.0,0.294400,0.0,0.000000,237.568373,0.027167,0.002667,0.561442,97,97
24,24,24,ALABAMA,Pelham City,10019402399,Pelham High School,220,95,AL,ALABAMA,...,68.0,0.075305,1.0,0.001107,5646.087508,0.000000,0.002215,0.181818,95,95
25,25,25,ALABAMA,Auburn City,10021000036,Auburn High Sch,568,89,AL,ALABAMA,...,170.0,0.097087,7.0,0.003998,1208.637384,0.000000,0.000571,0.220183,89,89
27,27,27,ALABAMA,Autauga County,10024000045,Billingsley High Sch,48,80-89,AL,ALABAMA,...,140.0,0.217729,0.0,0.000000,73.211509,0.000000,0.003110,0.604651,80,80
28,28,28,ALABAMA,Autauga County,10024000046,Marbury Sch,147,80-84,AL,ALABAMA,...,8.0,0.014572,5.0,0.009107,118.579235,0.000000,0.001821,0.468750,80,80
29,29,29,ALABAMA,Autauga County,10024000048,Prattville High Sch,514,87,AL,ALABAMA,...,46.0,0.022761,9.0,0.004453,24.616526,0.000000,0.001979,0.448980,87,87
30,30,30,ALABAMA,Autauga County,10024001408,Autaugaville Sch,33,80-89,AL,ALABAMA,...,36.0,0.107784,0.0,0.000000,92.979042,0.000000,0.002994,0.452830,80,80
31,31,31,ALABAMA,Baldwin County,10027000024,Robertsdale High Sch,402,75,AL,ALABAMA,...,366.0,0.287962,0.0,0.000000,1195.291023,0.000000,0.003147,0.297297,75,75
32,32,32,ALABAMA,Baldwin County,10027000100,Fairhope High Sch,362,91,AL,ALABAMA,...,148.0,0.094328,0.0,0.000000,1595.657973,0.000000,0.002549,0.397974,91,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21804,21804,21804,WYOMING,Converse County School District #1,560214000127,Douglas High School,132,85-89,WY,WYOMING,...,26.0,0.050388,0.0,0.000000,3516.676512,0.000000,0.001938,0.145161,85,85
21805,21805,21805,WYOMING,Converse County School District #2,560215000137,Glenrock High School,54,80-89,WY,WYOMING,...,6.0,0.030151,0.0,0.000000,5151.651658,0.000000,0.005025,0.269906,80,80
21809,21809,21809,WYOMING,Crook County School District #1,560237000566,Moorcroft High School,39,90,WY,WYOMING,...,0.0,0.000000,0.0,0.000000,6711.655914,0.000000,0.005376,0.166667,90,90
21811,21811,21811,WYOMING,Uinta County School District #1,560276000152,Evanston High School,182,85-89,WY,WYOMING,...,56.0,0.073879,1.0,0.001319,2252.779274,0.000000,0.003958,0.090909,85,85
21816,21816,21816,WYOMING,Fremont County School District # 1,560287000163,Lander Valley High School,105,85-89,WY,WYOMING,...,12.0,0.028103,0.0,0.000000,26461.965714,0.000000,0.004684,0.902439,85,85
21818,21818,21818,WYOMING,Goshen County School District #1,560299000168,Torrington High School,110,80-84,WY,WYOMING,...,38.0,0.100529,1.0,0.002646,540.979127,0.000000,0.002646,0.331625,80,80
21820,21820,21820,WYOMING,Big Horn County School District #3,560317000174,Greybull High School,55,80-89,WY,WYOMING,...,0.0,0.000000,1.0,0.005128,1776.508513,0.000000,0.005128,0.352941,80,80
21822,21822,21822,WYOMING,Hot Springs County School District #1,560331000180,Hot Springs County High School,56,70-79,WY,WYOMING,...,12.0,0.053571,0.0,0.000000,652.327500,0.041496,0.004464,0.390999,70,70
21823,21823,21823,WYOMING,Johnson County School District #1,560377000187,Buffalo High School,92,80-84,WY,WYOMING,...,6.0,0.018519,11.0,0.033951,4315.682685,0.000000,0.006173,0.952381,80,80
21826,21826,21826,WYOMING,Lincoln County School District #1,560403000557,Kemmerer Junior Senior High School,38,80-89,WY,WYOMING,...,0.0,0.000000,0.0,0.000000,6801.741033,0.000000,0.004132,0.121212,80,80
21828,21828,21828,WYOMING,Lincoln County School District #2,560406000202,Star Valley High School,162,95,WY,WYOMING,...,20.0,0.027548,0.0,0.000000,4512.539669,0.000000,0.003444,0.000000,95,95
21830,21830,21830,WYOMING,Laramie County School District #2,560412000209,Burns Jr & Sr High School,39,80-89,WY,WYOMING,...,10.0,0.039526,0.0,0.000000,5367.098261,0.000000,0.003953,0.205508,80,80
21832,21832,21832,WYOMING,Niobrara County School District #1,560423000214,Niobrara County High School,103,50-54,WY,WYOMING,...,0.0,0.000000,0.0,0.000000,577.282931,0.000000,0.002571,0.032616,50,50
21833,21833,21833,WYOMING,Uinta County School District #6,560426000222,Lyman High School,42,80-89,WY,WYOMING,...,0.0,0.000000,0.0,0.000000,1289.235577,0.000000,0.004808,0.050531,80,80
21835,21835,21835,WYOMING,Fremont County School District #14,560445000441,Wyoming Indian High School,50,50-59,WY,WYOMING,...,48.0,0.242424,0.0,0.000000,2104.136364,0.000000,0.010101,0.478261,50,50
21836,21836,21836,WYOMING,Uinta County School District #4,560450000227,Mountain View High School,45,80-89,WY,WYOMING,...,14.0,0.057143,3.0,0.012245,1536.513020,0.000000,0.004082,0.210455,80,80
21838,21838,21838,WYOMING,Natrona County School District #1,560451000229,Kelly Walsh High School,416,76,WY,WYOMING,...,312.0,0.184615,8.0,0.004734,801.806734,0.000000,0.002959,0.271630,76,76
21839,21839,21839,WYOMING,Natrona County School District #1,560451000231,Natrona County High School,432,81,WY,WYOMING,...,152.0,0.096939,4.0,0.002551,723.983533,0.010101,0.003189,0.222222,81,81
21840,21840,21840,WYOMING,Natrona County School District #1,560451000256,Roosevelt High School,57,40-49,WY,WYOMING,...,120.0,0.960000,1.0,0.008000,1611.818080,0.000000,0.016000,0.056338,40,40
21841,21841,21841,WYOMING,Weston County School District #1,560483000263,Newcastle High School,66,80-84,WY,WYOMING,...,8.0,0.033613,0.0,0.000000,477.297227,0.000000,0.004790,0.545455,80,80
21842,21842,21842,WYOMING,Sublette County School District #1,560486000267,Pinedale High School,54,80-89,WY,WYOMING,...,0.0,0.000000,4.0,0.014870,4123.769517,0.000000,0.003717,0.131119,80,80
21844,21844,21844,WYOMING,Platte County School District #1,560509000273,Wheatland High School,74,80-84,WY,WYOMING,...,2.0,0.006515,0.0,0.000000,2752.918567,0.000000,0.003257,0.000000,80,80
21848,21848,21848,WYOMING,Park County School District # 1,560516000278,Powell High School,101,90-94,WY,WYOMING,...,30.0,0.063291,3.0,0.006329,2480.422722,0.000000,0.004219,0.267221,90,90
21849,21849,21849,WYOMING,Fremont County School District #25,560522000286,Riverton High School,194,75-79,WY,WYOMING,...,386.0,0.485535,1.0,0.001258,7182.522113,0.000000,0.002516,0.127823,75,75
21852,21852,21852,WYOMING,Sweetwater County School District #1,560530200294,Rock Springs High School,340,79,WY,WYOMING,...,280.0,0.199715,0.0,0.000000,900.954650,0.000000,0.002853,0.456595,79,79
21854,21854,21854,WYOMING,Sheridan County School District #1,560569000311,Big Horn High School,37,90,WY,WYOMING,...,2.0,0.013245,4.0,0.026490,1738.913907,0.000000,0.006623,0.846154,90,90
21858,21858,21858,WYOMING,Sheridan County School District #2,560569500360,Sheridan High School,236,89,WY,WYOMING,...,46.0,0.046796,0.0,0.000000,1694.559176,0.000000,0.005086,0.198779,89,89
21861,21861,21861,WYOMING,Sweetwater County School District #2,560576200324,Green River High School,176,85-89,WY,WYOMING,...,110.0,0.141570,1.0,0.001287,1840.877490,0.000000,0.003861,0.200000,85,85
21863,21863,21863,WYOMING,Teton County School District #1,560583000335,Jackson Hole High School,127,95,WY,WYOMING,...,26.0,0.040625,0.0,0.000000,4153.518984,0.000000,0.004687,0.118939,95,95
21866,21866,21866,WYOMING,Washakie County School District #1,560624000343,Worland High School,105,75-79,WY,WYOMING,...,10.0,0.025000,0.0,0.000000,3015.755325,0.000000,0.004275,0.331544,75,75

In [107]:
bigger.reset_index(inplace=True)

In [121]:
# run it with current_row = int(bigger.loc[idx, 'grad_rate_bin'])

for idx in range(len(bigger['grad_slice'])):
#     print(bigger.loc[idx, 'grad_slice'])
    current_row = int(bigger.loc[idx, 'grad_rate_bin'])
#     bigger.loc[idx, 'grad_slice'] = bigger.loc[idx, 'grad_rate_bin']
    if (current_row >= 90):
         bigger.loc[idx, 'grad_slice'] = '90%+'
    elif ((current_row < 90) and  (current_row >= 80)):
        bigger.loc[idx, 'grad_slice'] = '80-89%'
    elif ((current_row < 80) and  (current_row >= 70)):
        bigger.loc[idx, 'grad_slice'] = '70-79%'
    elif ((current_row < 70) and  (current_row >= 60)):
        bigger.loc[idx, 'grad_slice'] = '60-69%'
    elif ((current_row < 60) and  (current_row >= 50)):
        bigger.loc[idx, 'grad_slice'] = '50-59%'
    elif ((current_row < 50) and  (current_row >= 40)):
        bigger.loc[idx, 'grad_slice'] = '40-49%'
    elif ((current_row < 40) and  (current_row >= 30)):
        bigger.loc[idx, 'grad_slice'] = '30-39%'
    elif ((current_row < 30) and  (current_row >= 20)):
        bigger.loc[idx, 'grad_slice'] = '20-29%'
    elif ((current_row < 20) and  (current_row >= 10)):
        bigger.loc[idx, 'grad_slice'] = '10-19%'
    else:
        bigger.loc[idx, 'grad_slice'] = '0-9%'

/anaconda3/envs/absenteeism/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [123]:
#rename column headings
bigger.rename(columns={'grad_rate_bin':'grad_rate_slice', 'grad_slice':'grad_rates_bin'}, inplace=True)

/anaconda3/envs/absenteeism/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [124]:
bigger.head()

,index,Unnamed: 0,Unnamed: 0.1,STNAM,LEANM,NCESSCH,SCHNAM,ALL_COHORT_1516,ALL_RATE_1516,LEA_STATE,...,total_suspension_days,suspensed_day_rate,harassed,harassed_rate,activities_funds_rate,non_cert_rate,counselor_rate,absent_teacher_rate,grad_rate_slice,grad_rates_bin
0,0,0,0,ALABAMA,Albertville City,10000500871,Albertville High Sch,296,92,AL,...,78.0,0.060232,0.0,0.000000,2811.937359,0.0,0.003475,0.378788,92,90%+
1,1,1,1,ALABAMA,Marshall County,10000600872,Asbury Sch,67,95,AL,...,10.0,0.018553,2.0,0.003711,4825.189777,0.0,0.002783,0.100000,95,90%+
2,2,2,2,ALABAMA,Marshall County,10000600878,Douglas High Sch,153,85-89,AL,...,18.0,0.030303,5.0,0.008418,5317.932795,0.0,0.001684,0.105263,85,80-89%
3,3,3,3,ALABAMA,Marshall County,10000600883,Kate D Smith DAR High Sch,120,80-84,AL,...,10.0,0.021786,0.0,0.000000,5909.375686,0.0,0.002179,0.068966,80,80-89%
4,4,4,4,ALABAMA,Marshall County,10000601585,Brindlee Mt High Sch,94,85-89,AL,...,8.0,0.022039,0.0,0.000000,3962.305785,0.0,0.002755,0.101010,85,80-89%

In [126]:
bigger['grad_rates_bin'].value_counts()

90%+      8712
80-89%    4257
70-79%    1457
60-69%     536
50-59%     352
10-19%     305
40-49%     278
20-29%     264
30-39%     264
0-9%       148
Name: grad_rates_bin, dtype: int64

In [142]:
#Juvenile Justice schools have very different graduation rates, 
#31 of 41 schools have graduation rates of less than 50%.

byRate = bigger[bigger['JJ'] == 'Yes'].groupby('grad_rates_bin')

In [143]:
byRate.count()

,index,Unnamed: 0,Unnamed: 0.1,STNAM,LEANM,NCESSCH,SCHNAM,ALL_COHORT_1516,ALL_RATE_1516,LEA_STATE,...,sports_rate,total_suspension_days,suspensed_day_rate,harassed,harassed_rate,activities_funds_rate,non_cert_rate,counselor_rate,absent_teacher_rate,grad_rate_slice
grad_rates_bin,,,,,,,,,,,,,,,,,,,,,
0-9%,8,8,8,8,8,8,8,8,8,8,...,0,8,8,8,8,8,8,8,8,8
10-19%,15,15,15,15,15,15,15,15,15,15,...,0,15,15,15,15,14,15,15,15,15
20-29%,7,7,7,7,7,7,7,7,7,7,...,0,7,7,7,7,7,7,7,7,7
30-39%,5,5,5,5,5,5,5,5,5,5,...,0,5,5,5,5,5,5,5,5,5
50-59%,3,3,3,3,3,3,3,3,3,3,...,0,3,3,3,3,3,3,3,3,3
60-69%,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
70-79%,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
80-89%,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1

In [151]:
#Alternative Schools have a different graduation rate pattern. Out of 
#1,055 Alternative Schools, 629 graduate less than half of their cohort.
byRate_alt = bigger[bigger['SCH_STATUS_ALT'] == 'Yes'].groupby('grad_rates_bin')
byRate_alt.count()

,index,Unnamed: 0,Unnamed: 0.1,STNAM,LEANM,NCESSCH,SCHNAM,ALL_COHORT_1516,ALL_RATE_1516,LEA_STATE,...,sports_rate,total_suspension_days,suspensed_day_rate,harassed,harassed_rate,activities_funds_rate,non_cert_rate,counselor_rate,absent_teacher_rate,grad_rate_slice
grad_rates_bin,,,,,,,,,,,,,,,,,,,,,
0-9%,85,85,85,85,85,85,85,85,85,85,...,2,85,85,84,84,48,61,85,61,85
10-19%,162,162,162,162,162,162,162,162,162,162,...,7,162,162,160,160,125,146,162,146,162
20-29%,128,128,128,128,128,128,128,128,128,128,...,6,128,128,127,127,119,125,128,125,128
30-39%,128,128,128,128,128,128,128,128,128,128,...,10,128,128,127,127,123,126,128,126,128
40-49%,126,126,126,126,126,126,126,126,126,126,...,5,126,126,123,123,124,126,126,126,126
50-59%,106,106,106,106,106,106,106,106,106,106,...,7,106,106,106,106,106,105,106,105,106
60-69%,97,97,97,97,97,97,97,97,97,97,...,2,97,97,95,95,95,96,97,96,97
70-79%,96,96,96,96,96,96,96,96,96,96,...,3,96,96,95,95,93,94,96,94,96
80-89%,79,79,79,79,79,79,79,79,79,79,...,4,79,79,79,79,79,79,79,79,79
90%+,48,48,48,48,48,48,48,48,48,48,...,15,48,48,48,48,48,48,48,48,48

In [152]:
#The 75 Special Education Schools have a different graduation rate pattern. Out of 
#30 Special Education Schools graduate less than half of their cohort; however,
#25 Special Education Schools graduate 90% or more of their cohort.
byRate_sped = bigger[bigger['SCH_STATUS_SPED'] == 'Yes'].groupby('grad_rates_bin')
byRate_sped.count()

,index,Unnamed: 0,Unnamed: 0.1,STNAM,LEANM,NCESSCH,SCHNAM,ALL_COHORT_1516,ALL_RATE_1516,LEA_STATE,...,sports_rate,total_suspension_days,suspensed_day_rate,harassed,harassed_rate,activities_funds_rate,non_cert_rate,counselor_rate,absent_teacher_rate,grad_rate_slice
grad_rates_bin,,,,,,,,,,,,,,,,,,,,,
0-9%,3,3,3,3,3,3,3,3,3,3,...,0,3,3,3,3,3,3,3,3,3
10-19%,16,16,16,16,16,16,16,16,16,16,...,1,16,16,16,16,15,15,16,15,16
20-29%,3,3,3,3,3,3,3,3,3,3,...,0,3,3,3,3,3,3,3,3,3
30-39%,3,3,3,3,3,3,3,3,3,3,...,0,3,3,3,3,2,3,3,3,3
40-49%,5,5,5,5,5,5,5,5,5,5,...,2,5,5,5,5,5,5,5,5,5
50-59%,2,2,2,2,2,2,2,2,2,2,...,0,2,2,2,2,2,2,2,2,2
60-69%,4,4,4,4,4,4,4,4,4,4,...,2,4,4,4,4,3,4,4,4,4
70-79%,5,5,5,5,5,5,5,5,5,5,...,4,5,5,5,5,5,5,5,5,5
80-89%,9,9,9,9,9,9,9,9,9,9,...,7,9,9,9,9,9,9,9,9,9
90%+,25,25,25,25,25,25,25,25,25,25,...,22,25,25,25,25,24,24,25,24,25

In [87]:
#Just take the first part of the range
bigger['grad_slice'] = bigger['ALL_RATE_1516'].str[:2]

/anaconda3/envs/absenteeism/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [91]:
#convert string number to integers
type(bigger['grad_slice'])

pandas.core.series.Series

In [89]:
bigger['grad_rate_bin'] = pd.cut(bigger['grad_slice'], [0, 9, 19, 29, 39, 49, 59, 69, 79, 89, 100], labels=['0-9%', '10-19%', '20-29%', '30-39%', '40-49%', '50-59%', '60-69%', '70-79%', '80-89%', '90%+'])

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
df['bin'] = pd.cut(df['1'], [0, 50, 100,200], labels=['0-50', '50-100', '100-200'])

In [62]:
bigger['ALL_RATE_1516'].unique()

array(['92', '95', '85-89', '80-84', '94', '97', '96', '90-94', '75-79',
       '90', '83', '70-79', '89', '80-89', '87', '75', '91', '84', '80',
       '79', '77', '69', '68', '70-74', '81', '93', '88', '98', '82',
       '86', '85', '76', '78', '73', '66', '74', '60-64', '11-19',
       '50-59', '35-39', '10', '30-39', '60-69', '40-49', '65-69',
       '45-49', '30-34', '20-24', '40-44', '20-29', '25-29', '33', '24',
       '50-54', '5', '14', '6', '55-59', '10-14', '19', '67', '1', '71',
       '15-19', '99', '22', '46', '25', '15', '18', '49', '50', '52',
       '51', '62', '53', '37', '11', '56', '30', '29', '40', '38', '72',
       '63', '61', '47', '45', '48', '64', '35', '21', '9', '13', '58',
       '8', '39', '55', '54', '57', '65', '59', '42', '20', '4', '28',
       '36', '3', '70', '17', '34', '60', '12', '23', '27', '32', '41'],
      dtype=object)

In [ ]:
# CatWin.Game<-cut(dataset1$AdjWin.Game, breaks=c(0,0.4,0.5,0.6,0.7,0.8,1),label=c("<40%","41-50%","51-60%",">61-70%","71-80%",">80%"), right=FALSE)
# CatWin.Game [0:100]
# CatWin.Game2.<-relevel(CatWin.Game, "41-50%")