In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [27]:
#combo is the combined graduation and features data sets
combo = pd.read_csv('/Users/flatironschool/Absenteeism_Project/data/processed/grad_data.csv')

/anaconda3/envs/absenteeism/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (9,11,13,15,17,19,21,23,25,51,52,53,58,59,1856) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [28]:
combo.head()

,Unnamed: 0,STNAM,FIPST,LEAID_x,LEANM,NCESSCH,SCHNAM,ALL_COHORT_1516,ALL_RATE_1516,MAM_COHORT_1516,...,SCH_JJTYPE,SCH_JJSYDAYS,SCH_JJHOURS,SCH_JJPART_LT15,SCH_JJPART_15T30,SCH_JJPART_31T90,SCH_JJPART_91T180,SCH_JJPART_OV180,districtID,IDSCH
0,0,ALABAMA,1,100005,Albertville City,10000500871,Albertville High Sch,296,92,2,...,-9,-9,-9,-9,-9,-9,-9,-9,100005,871
1,1,ALABAMA,1,100006,Marshall County,10000600872,Asbury Sch,67,GE95,2,...,-9,-9,-9,-9,-9,-9,-9,-9,100006,872
2,2,ALABAMA,1,100006,Marshall County,10000600878,Douglas High Sch,153,85-89,.,...,-9,-9,-9,-9,-9,-9,-9,-9,100006,878
3,3,ALABAMA,1,100006,Marshall County,10000600883,Kate D Smith DAR High Sch,120,80-84,.,...,-9,-9,-9,-9,-9,-9,-9,-9,100006,883
4,4,ALABAMA,1,100006,Marshall County,10000601585,Brindlee Mt High Sch,94,85-89,2,...,-9,-9,-9,-9,-9,-9,-9,-9,100006,1585

In [29]:
combo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21867 entries, 0 to 21866
Columns: 1866 entries, Unnamed: 0 to IDSCH
dtypes: float64(32), int64(1748), object(86)
memory usage: 311.3+ MB

The OCR (features) data set disaggregates the data by ethnicity, gender, 
504/IEP/disability status, English language learner, etc. This project 
uses the total of each variable, not the disaggregated. This cell 
returned totals to begin the aggregation process

In [30]:
total_cols = [col for col in combo.columns if 'TOT' in col]
print(total_cols)

['TOT_PSENR_M', 'TOT_PSENR_F', 'TOT_ENR_M', 'TOT_ENR_F', 'TOT_LEPENR_M', 'TOT_LEPENR_F', 'TOT_LEPPROGENR_M', 'TOT_LEPPROGENR_F', 'TOT_IDEAENR_M', 'TOT_IDEAENR_F', 'TOT_504ENR_M', 'TOT_504ENR_F', 'TOT_GTENR_M', 'TOT_GTENR_F', 'TOT_DUAL_M', 'TOT_DUAL_F', 'TOT_ALGENR_G08_M', 'TOT_ALGENR_G08_F', 'TOT_ALGENR_GS0910_M', 'TOT_ALGENR_GS0910_F', 'TOT_ALGENR_GS1112_M', 'TOT_ALGENR_GS1112_F', 'TOT_ALGPASS_G08_M', 'TOT_ALGPASS_G08_F', 'TOT_ALGPASS_GS0910_M', 'TOT_ALGPASS_GS0910_F', 'TOT_ALGPASS_GS1112_M', 'TOT_ALGPASS_GS1112_F', 'TOT_GEOM_M', 'TOT_GEOM_F', 'TOT_MATHENR_ALG2_M', 'TOT_MATHENR_ALG2_F', 'TOT_MATHENR_CALC_M', 'TOT_MATHENR_CALC_F', 'TOT_MATHENR_ADVM_M', 'TOT_MATHENR_ADVM_F', 'TOT_SCIENR_BIOL_M', 'TOT_SCIENR_BIOL_F', 'TOT_SCIENR_CHEM_M', 'TOT_SCIENR_CHEM_F', 'TOT_SCIENR_PHYS_M', 'TOT_SCIENR_PHYS_F', 'TOT_SSCLASSES_ALGG', 'TOT_SSCLASSES_OTHM', 'TOT_SSCLASSES_SCI', 'TOT_SSCLASSES_ENGL', 'TOT_SSCLASSES_OTHA', 'TOT_APENR_M', 'TOT_APENR_F', 'TOT_APMATHENR_M', 'TOT_APMATHENR_F', 'TOT_APSCIENR_M', 'TOT_APSCIENR_F', 'TOT_APOTHENR_M', 'TOT_APOTHENR_F', 'TOT_APEXAM_ONEORMORE_M', 'TOT_APEXAM_ONEORMORE_F', 'TOT_APEXAM_NONE_M', 'TOT_APEXAM_NONE_F', 'TOT_APPASS_ONEORMORE_M', 'TOT_APPASS_ONEORMORE_F', 'TOT_APPASS_NONE_M', 'TOT_APPASS_NONE_F', 'TOT_IBENR_M', 'TOT_IBENR_F', 'TOT_SATACT_M', 'TOT_SATACT_F', 'TOT_PSDISC_CORP_M', 'TOT_PSDISC_CORP_F', 'TOT_DISCWODIS_CORP_M', 'TOT_DISCWODIS_CORP_F', 'TOT_DISCWDIS_CORP_IDEA_M', 'TOT_DISCWDIS_CORP_IDEA_F', 'TOT_PSDISC_SINGOOS_M', 'TOT_PSDISC_SINGOOS_F', 'TOT_PSDISC_MULTOOS_M', 'TOT_PSDISC_MULTOOS_F', 'TOT_DISCWODIS_ISS_M', 'TOT_DISCWODIS_ISS_F', 'TOT_DISCWODIS_SINGOOS_M', 'TOT_DISCWODIS_SINGOOS_F', 'TOT_DISCWODIS_MULTOOS_M', 'TOT_DISCWODIS_MULTOOS_F', 'TOT_DISCWDIS_ISS_IDEA_M', 'TOT_DISCWDIS_ISS_IDEA_F', 'TOT_DISCWDIS_SINGOOS_IDEA_M', 'TOT_DISCWDIS_SINGOOS_IDEA_F', 'TOT_DISCWDIS_MULTOOS_IDEA_M', 'TOT_DISCWDIS_MULTOOS_IDEA_F', 'TOT_DAYSMISSED_M', 'TOT_DAYSMISSED_F', 'TOT_PSDISC_EXP_M', 'TOT_PSDISC_EXP_F', 'TOT_DISCWODIS_EXPWE_M', 'TOT_DISCWODIS_EXPWE_F', 'TOT_DISCWODIS_EXPWOE_M', 'TOT_DISCWODIS_EXPWOE_F', 'TOT_DISCWODIS_EXPZT_M', 'TOT_DISCWODIS_EXPZT_F', 'TOT_DISCWDIS_EXPWE_IDEA_M', 'TOT_DISCWDIS_EXPWE_IDEA_F', 'TOT_DISCWDIS_EXPWOE_IDEA_M', 'TOT_DISCWDIS_EXPWOE_IDEA_F', 'TOT_DISCWDIS_EXPZT_IDEA_M', 'TOT_DISCWDIS_EXPZT_IDEA_F', 'TOT_DISCWODIS_TFRALT_M', 'TOT_DISCWODIS_TFRALT_F', 'TOT_DISCWDIS_TFRALT_IDEA_M', 'TOT_DISCWDIS_TFRALT_IDEA_F', 'TOT_DISCWODIS_REF_M', 'TOT_DISCWODIS_REF_F', 'TOT_DISCWDIS_REF_IDEA_M', 'TOT_DISCWDIS_REF_IDEA_F', 'TOT_DISCWODIS_ARR_M', 'TOT_DISCWODIS_ARR_F', 'TOT_DISCWDIS_ARR_IDEA_M', 'TOT_DISCWDIS_ARR_IDEA_F', 'TOT_RS_NONIDEA_MECH_M', 'TOT_RS_NONIDEA_MECH_F', 'TOT_RS_NONIDEA_PHYS_M', 'TOT_RS_NONIDEA_PHYS_F', 'TOT_RS_NONIDEA_SECL_M', 'TOT_RS_NONIDEA_SECL_F', 'TOT_RS_IDEA_MECH_M', 'TOT_RS_IDEA_MECH_F', 'TOT_RS_IDEA_PHYS_M', 'TOT_RS_IDEA_PHYS_F', 'TOT_RS_IDEA_SECL_M', 'TOT_RS_IDEA_SECL_F', 'TOT_HBREPORTED_SEX_M', 'TOT_HBREPORTED_SEX_F', 'TOT_HBREPORTED_RAC_M', 'TOT_HBREPORTED_RAC_F', 'TOT_HBREPORTED_DIS_M', 'TOT_HBREPORTED_DIS_F', 'TOT_HBDISCIPLINED_SEX_M', 'TOT_HBDISCIPLINED_SEX_F', 'TOT_HBDISCIPLINED_RAC_M', 'TOT_HBDISCIPLINED_RAC_F', 'TOT_HBDISCIPLINED_DIS_M', 'TOT_HBDISCIPLINED_DIS_F', 'TOT_ABSENT_M', 'TOT_ABSENT_F', 'TOT_RET_KG_M', 'TOT_RET_KG_F', 'TOT_RET_G01_M', 'TOT_RET_G01_F', 'TOT_RET_G02_M', 'TOT_RET_G02_F', 'TOT_RET_G03_M', 'TOT_RET_G03_F', 'TOT_RET_G04_M', 'TOT_RET_G04_F', 'TOT_RET_G05_M', 'TOT_RET_G05_F', 'TOT_RET_G06_M', 'TOT_RET_G06_F', 'TOT_RET_G07_M', 'TOT_RET_G07_F', 'TOT_RET_G08_M', 'TOT_RET_G08_F', 'TOT_RET_G09_M', 'TOT_RET_G09_F', 'TOT_RET_G10_M', 'TOT_RET_G10_F', 'TOT_RET_G11_M', 'TOT_RET_G11_F', 'TOT_RET_G12_M', 'TOT_RET_G12_F', 'TOT_SSSPORTS', 'TOT_SSTEAMS', 'TOT_SSPART', 'SCH_SAL_TOTPERS_WOFED', 'SCH_SAL_TOTPERS_WFED', 'SCH_FTETEACH_TOT', 'SCH_TEACHERS_CURR_TOT', 'SCH_TEACHERS_PREV_TOT']

In [11]:
len(total_cols)

177

In [31]:
#drop columns of disaggregated graduation rates
combo.drop(['FIPST', 'LEAID_x', 'MAM_COHORT_1516', 'MAM_RATE_1516',
                    'MAS_COHORT_1516', 'MAS_RATE_1516', 'MBL_COHORT_1516', 
                    'MBL_RATE_1516','MHI_COHORT_1516', 'MHI_RATE_1516', 
                    'MTR_COHORT_1516','MTR_RATE_1516', 'MWH_COHORT_1516',
                    'MWH_RATE_1516', 'CWD_COHORT_1516','CWD_RATE_1516',
                    'ECD_COHORT_1516','ECD_RATE_1516','LEP_COHORT_1516',
                    'LEP_RATE_1516','DATE_CUR'], axis=1, inplace=True)

In [32]:
combo.head()

,Unnamed: 0,STNAM,LEANM,NCESSCH,SCHNAM,ALL_COHORT_1516,ALL_RATE_1516,LEA_STATE,LEA_STATE_NAME,LEAID_y,...,SCH_JJTYPE,SCH_JJSYDAYS,SCH_JJHOURS,SCH_JJPART_LT15,SCH_JJPART_15T30,SCH_JJPART_31T90,SCH_JJPART_91T180,SCH_JJPART_OV180,districtID,IDSCH
0,0,ALABAMA,Albertville City,10000500871,Albertville High Sch,296,92,AL,ALABAMA,100005,...,-9,-9,-9,-9,-9,-9,-9,-9,100005,871
1,1,ALABAMA,Marshall County,10000600872,Asbury Sch,67,GE95,AL,ALABAMA,100006,...,-9,-9,-9,-9,-9,-9,-9,-9,100006,872
2,2,ALABAMA,Marshall County,10000600878,Douglas High Sch,153,85-89,AL,ALABAMA,100006,...,-9,-9,-9,-9,-9,-9,-9,-9,100006,878
3,3,ALABAMA,Marshall County,10000600883,Kate D Smith DAR High Sch,120,80-84,AL,ALABAMA,100006,...,-9,-9,-9,-9,-9,-9,-9,-9,100006,883
4,4,ALABAMA,Marshall County,10000601585,Brindlee Mt High Sch,94,85-89,AL,ALABAMA,100006,...,-9,-9,-9,-9,-9,-9,-9,-9,100006,1585

## Create New Features, Delete Disaggregated Variables

In [33]:
#create total enrollment feature and drop the rest of the 
#disaggregated enrollment features
combo['total_enrollment'] = combo['TOT_ENR_M'] + combo['TOT_ENR_F']

In [35]:
combo.drop(combo.columns.to_series()['SCH_PSENR_NONIDEA_A3':'SCH_ENR_TR_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_ENR_LEP_M':'SCH_504ENR_LEP_F'], axis=1, inplace=True)

In [45]:
#create new feature combining advanced classes: AP, IB, Duel Enrollment 
#(enrolling in a class at the local community college)
combo['total_ap_ib_de'] = combo['TOT_APENR_M'] + combo['TOT_APENR_F'] + combo['TOT_IBENR_M'] + combo['TOT_IBENR_F'] + combo['TOT_DUAL_M'] + combo['TOT_DUAL_F']
combo['ap_ib_de_rate'] = combo['total_ap_ib_de']/combo['total_enrollment']

In [43]:
combo.drop(['SCH_DUALENR_LEP_M', 'SCH_DUALENR_LEP_F', 'SCH_DUALENR_IDEA_M', 'SCH_DUALENR_IDEA_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_APENR_IND':'SCH_APENR_TR_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_APENR_LEP_M':'SCH_APPASS_NONE_IDEA_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_IBENR_IND':'SCH_IBENR_TR_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_IBENR_LEP_M':'SCH_IBENR_IDEA_F'], axis=1, inplace=True)

In [46]:
#create new feature of number and rate of students taking SAT or ACT for
#college admission. Deleting disaggregated features
combo['total_sat_act'] = combo['TOT_SATACT_M'] + combo['TOT_SATACT_F']
combo['sat_act_rate'] = combo['total_sat_act']/combo['total_enrollment']

In [47]:
combo.drop(combo.columns.to_series()['SCH_SATACT_HI_M':'SCH_SATACT_TR_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_SATACT_LEP_M':'SCH_SATACT_IDEA_F'], axis=1, inplace=True)

In [96]:
#create new feature of number and rate of students passing Algebra for all grades
combo['total_pass_algebra'] = combo['TOT_ALGPASS_GS0910_M'] + combo['TOT_ALGPASS_GS0910_F'] + combo['TOT_ALGPASS_GS1112_M'] + combo['TOT_ALGPASS_GS1112_F']
combo['pass_algebra_rate'] = combo['total_pass_algebra']/combo['total_enrollment']

In [97]:
#create new feature of students enrolled in geometry
combo['total_geometry'] = combo['TOT_GEOM_M'] + combo['TOT_GEOM_F']
combo['geometry_rate'] = combo['total_geometry']/combo['total_enrollment']

In [98]:
#create new feature of students enrolled in algebra 2
combo['total_algebra2'] = combo['TOT_MATHENR_ALG2_M'] + combo['TOT_MATHENR_ALG2_F']
combo['algebra2_rate'] = combo['total_algebra2']/combo['total_enrollment']

In [99]:
#create new feature of students enrolled in calculus
combo['total_calc'] = combo['TOT_MATHENR_CALC_M'] + combo['TOT_MATHENR_CALC_F']
combo['calc_rate'] = combo['total_calc']/combo['total_enrollment']

In [55]:
#create new feature of number and rate of students that are chronically 
#absent, missing 15 or more school days in a school year. All absences, 
#excused and unexcused are included. Deleting disaggreated features.
combo['total_chronic_absent'] = combo['TOT_ABSENT_M'] + combo['TOT_ABSENT_F']
combo['chronic_absent_rate'] = combo['total_chronic_absent']/combo['total_enrollment']

In [56]:
combo.drop(combo.columns.to_series()['SCH_ABSENT_HI_M':'SCH_ABSENT_TR_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_ABSENT_LEP_M':'SCH_ABSENT_IDEA_F'], axis=1, inplace=True)

In [58]:
#create new feature of number and rate of students participating in sports
#delete disaggregated variables
combo['sports_part'] = combo['SCH_SSPART_M'] + combo['SCH_SSPART_F']
combo['sports_rate'] = combo['sports_part']/combo['total_enrollment']

In [60]:
combo.drop(combo.columns.to_series()['SCH_SSATHLETICS_IND':'TOT_SSTEAMS'], axis=1, inplace=True)

In [67]:
#create new feature related to the number of days of school lost to suspensions.
#Using this feature will penalize longer suspensions.
combo['total_suspension_days'] = combo['TOT_DAYSMISSED_F'] + combo['TOT_DAYSMISSED_F']
combo['suspensed_day_rate'] = combo['total_suspension_days']/combo['total_enrollment']

In [68]:
combo.drop(combo.columns.to_series()['SCH_PSDISC_SINGOOS_HI_M':'SCH_DAYSMISSED_TR_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_DAYSMISSED_LEP_M':'SCH_DAYSMISSED_IDEA_F'], axis=1, inplace=True)

In [72]:
#Create new feature related to number and rate of alleged harassment or bullying 
#on the basis of gender, race, disability, sexual orientation, or religion.
combo['harassed'] = combo['SCH_HBALLEGATIONS_SEX'] + combo['SCH_HBALLEGATIONS_RAC'] + combo['SCH_HBALLEGATIONS_DIS'] + combo['SCH_HBALLEGATIONS_ORI'] + combo['SCH_HBALLEGATIONS_REL']
combo['harassed_rate'] = combo['harassed']/combo['total_enrollment']

In [73]:
combo.drop(combo.columns.to_series()['SCH_HBREPORTED_SEX_HI_M':'SCH_HBDISCIPLINED_DIS_504_F'], axis=1, inplace=True)

In [79]:
#Create new feature related to non-personnel expenditures related to 
#activities funded by Federal, State and local funds. Delete other features 
combo['activities_funds_rate'] = (combo['SCH_NPE_WOFED'] + combo['SCH_NPE_WFED'])/combo['total_enrollment']

In [83]:
combo.drop(['SCH_SAL_TOTPERS_WOFED', 'SCH_FTE_TEACH_WOFED', 'SCH_SAL_TEACH_WOFED'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_FTE_AID_WOFED':'SCH_SAL_TOTPERS_WFED'])

## Features related to teachers and staff

In [48]:
#rate of non-certified teachers
combo['non_cert_rate'] = combo['SCH_FTETEACH_NOTCERT']/combo['SCH_FTETEACH_TOT']

In [49]:
#rate of school counselors per student
combo['counselor_rate']= combo['SCH_FTECOUNSELORS']/combo['total_enrollment']

In [50]:
#rate of chronically absent teachers
combo['absent_teacher_rate'] = combo['SCH_FTETEACH_ABSENT']/combo['SCH_FTETEACH_TOT']

In [53]:
combo.drop(['SCH_FTETEACH_CERT', 'SCH_FTETEACH_FY', 'SCH_FTETEACH_SY', 'SCH_TEACHERS_CURR_TOT',
           'SCH_TEACHERS_PREV_TOT', 'SCH_FTESECURITY_LEO', 'SCH_FTESECURITY_GUA', 'SCH_FTESERVICES_NUR',
           'SCH_FTESERVICES_PSY','SCH_FTESERVICES_SOC'], axis=1, inplace=True)

In [87]:
combo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21867 entries, 0 to 21866
Columns: 422 entries, Unnamed: 0 to activities_funds_rate
dtypes: float64(31), int64(351), object(40)
memory usage: 70.4+ MB

In [89]:
#drop sections on retention, corporal discipline, explusions, transfers, 
#referrals, arrests, offenses, restraint, seclusion, disabilites, and juvenile justice 
combo.drop(combo.columns.to_series()['SCH_RET_KG_IND':'SCH_RET_G12_504_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_CORPINSTANCES_IND':'SCH_CORPINSTANCES_WODIS'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_PSDISC_EXP_HI_M':'SCH_OFFENSE_POSSWX'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_RS_NONIDEA_MECH_HI_M':'SCH_SAL_TEACH_WOFED'], axis=1, inplace=True)

In [104]:
combo.drop(combo.columns.to_series()['SCH_ALGPASS_GS1112_LEP_M':'SCH_MATHENR_GEOM_TR_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_MATHENR_GEOM_LEP_M':'SCH_MATHENR_ALG2_TR_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_MATHENR_ALG2_LEP_M':'SCH_MATHENR_CALC_TR_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_MATHENR_CALC_LEP_M':'SCH_MATHENR_ADVM_TR_F'], axis=1, inplace=True)

In [107]:
combo.drop(combo.columns.to_series()['SCH_MATHENR_ADVM_LEP_M':'SCH_SCIENR_BIOL_TR_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_SCIENR_BIOL_LEP_M':'SCH_SCIENR_CHEM_TR_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_SCIENR_CHEM_LEP_M':'SCH_SCIENR_PHYS_TR_F'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_SCIENR_PHYS_LEP_M':'TOT_SSCLASSES_OTHA'], axis=1, inplace=True)

In [110]:
combo.drop(combo.columns.to_series()['SCH_FTE_AID_WOFED':'SCH_SAL_TOTPERS_WFED'], axis=1, inplace=True)
combo.drop(combo.columns.to_series()['SCH_JJTYPE':'SCH_JJPART_OV180'], axis=1, inplace=True)

In [112]:
combo.drop('SCH_CORPINSTANCES_WDIS', axis=1, inplace=True)

In [113]:
columns = combo.columns
for col in columns:
    print(col)

Unnamed: 0
STNAM
LEANM
NCESSCH
SCHNAM
ALL_COHORT_1516
ALL_RATE_1516
LEA_STATE
LEA_STATE_NAME
LEAID_y
LEA_NAME
SCHID
SCH_NAME
COMBOKEY
JJ
SCH_STATUS_SPED
SCH_STATUS_MAGNET
SCH_STATUS_CHARTER
SCH_STATUS_ALT
SCH_MAGNETDETAIL
SCH_ALTFOCUS
TOT_ENR_M
TOT_ENR_F
TOT_GTENR_M
TOT_GTENR_F
TOT_DUAL_M
TOT_DUAL_F
TOT_ALGPASS_GS0910_M
TOT_ALGPASS_GS0910_F
TOT_ALGPASS_GS1112_M
TOT_ALGPASS_GS1112_F
TOT_GEOM_M
TOT_GEOM_F
TOT_MATHENR_ALG2_M
TOT_MATHENR_ALG2_F
TOT_MATHENR_CALC_M
TOT_MATHENR_CALC_F
TOT_MATHENR_ADVM_M
TOT_MATHENR_ADVM_F
TOT_SCIENR_BIOL_M
TOT_SCIENR_BIOL_F
TOT_SCIENR_CHEM_M
TOT_SCIENR_CHEM_F
TOT_SCIENR_PHYS_M
TOT_SCIENR_PHYS_F
TOT_APENR_M
TOT_APENR_F
TOT_IBENR_M
TOT_IBENR_F
TOT_SATACT_M
TOT_SATACT_F
TOT_DAYSMISSED_M
TOT_DAYSMISSED_F
SCH_NPE_WOFED
SCH_NPE_WFED
SCH_FTETEACH_TOT
SCH_FTETEACH_NOTCERT
SCH_FTECOUNSELORS
SCH_FTETEACH_ABSENT
districtID
IDSCH
total_enrollment
total_ap_ib_de
ap_ib_de_rate
total_sat_act
sat_act_rate
non_cert_rate
counselor_rate
absent_teacher_rate
total_chronic_absent
chronic_absent_rate
sports_part
sports_rate
total_suspension_days
suspensed_day_rate
harassed
harassed_rate
activities_funds_rate
total_pass_algebra
pass_algebra_rate
total_geometry
geometry_rate
total_algebra2
algebra2_rate
total_calc
calc_rate

In [94]:
 _, i = np.unique(combo.columns, return_index=True)
combo.iloc[:, i]

,ALL_COHORT_1516,ALL_RATE_1516,COMBOKEY,IDSCH,JJ,LEAID_y,LEANM,LEA_NAME,LEA_STATE,LEA_STATE_NAME,...,non_cert_rate,sat_act_rate,sports_part,sports_rate,suspensed_day_rate,total_ap_ib_de,total_chronic_absent,total_enrollment,total_sat_act,total_suspension_days
0,296,92,1.000050e+10,871,No,100005,Albertville City,Albertville City,AL,ALABAMA,...,0.000000,0.234749,220,0.169884,0.060232,193,276,1295,304,78
1,67,GE95,1.000060e+10,872,No,100006,Marshall County,Marshall County,AL,ALABAMA,...,0.000000,0.224490,175,0.324675,0.018553,71,109,539,121,10
2,153,85-89,1.000060e+10,878,No,100006,Marshall County,Marshall County,AL,ALABAMA,...,0.000000,0.476431,229,0.385522,0.030303,180,157,594,283,18
3,120,80-84,1.000060e+10,883,No,100006,Marshall County,Marshall County,AL,ALABAMA,...,0.000000,0.505447,241,0.525054,0.021786,197,124,459,232,10
4,94,85-89,1.000060e+10,1585,No,100006,Marshall County,Marshall County,AL,ALABAMA,...,0.000000,0.473829,64,0.176309,0.022039,53,117,363,172,8
5,714,92,1.000070e+10,251,No,100007,Hoover City,Hoover City,AL,ALABAMA,...,0.019066,0.416245,898,0.302663,0.053927,679,428,2967,1235,160
6,1,PS,1.000070e+10,337,No,100007,Hoover City,Hoover City,AL,ALABAMA,...,0.000000,0.000000,-18,-0.015411,0.148973,-54,122,1168,0,174
7,412,94,1.000070e+10,1456,No,100007,Hoover City,Hoover City,AL,ALABAMA,...,0.016920,0.288014,526,0.313655,0.138342,614,287,1677,483,232
8,451,97,1.000080e+10,831,No,100008,Madison City,Madison City,AL,ALABAMA,...,0.000000,0.396925,565,0.321754,0.041002,722,16,1756,697,72
9,404,96,1.000080e+10,2198,No,100008,Madison City,Madison City,AL,ALABAMA,...,0.000000,0.340749,280,0.163934,0.078454,264,177,1708,582,134
10,123,90-94,1.000110e+10,2096,No,100011,Leeds City,Leeds City,AL,ALABAMA,...,0.000000,0.373134,253,0.539446,0.119403,15,78,469,175,56
11,151,80-84,1.000120e+10,874,No,100012,Boaz City,Boaz City,AL,ALABAMA,...,0.000000,0.359935,166,0.270358,0.029316,69,150,614,221,18
12,381,96,1.000130e+10,1682,No,100013,Trussville City,Trussville City,AL,ALABAMA,...,0.000000,0.084663,799,0.554476,0.019431,408,151,1441,122,28
13,1,PS,1.000300e+10,1,No,100030,Alexander City,Alexander City,AL,ALABAMA,...,0.000000,-0.040541,-18,-0.040541,0.288288,-54,50,444,-18,128
14,268,90-94,1.000300e+10,3,No,100030,Alexander City,Alexander City,AL,ALABAMA,...,0.000000,0.236786,331,0.349894,0.219873,210,115,946,224,208
15,99,90-94,1.000600e+10,7,No,100060,Andalusia City,Andalusia City,AL,ALABAMA,...,0.000000,0.286013,214,0.446764,0.000000,13,102,479,137,0
16,154,75-79,1.000900e+10,11,No,100090,Anniston City,Anniston City,AL,ALABAMA,...,0.021368,0.233918,316,0.615984,11.157895,79,60,513,120,5724
17,199,90-94,1.001000e+10,28,No,100100,Arab City,Arab City,AL,ALABAMA,...,0.000000,0.298408,118,0.156499,0.007958,152,127,754,225,6
18,287,90,1.001200e+10,1472,No,100120,Athens City,Athens City,AL,ALABAMA,...,0.077519,0.317486,559,0.450443,0.033844,104,20,1241,394,42
19,207,83,1.001800e+10,33,No,100180,Attalla City,Attalla City,AL,ALABAMA,...,0.000000,0.552711,-18,-0.027108,0.256024,170,253,664,367,170
20,243,92,1.001850e+10,2137,No,100185,Saraland City,Saraland City,AL,ALABAMA,...,1.000000,0.522772,487,0.482178,0.233663,-54,211,1010,528,236
21,53,70-79,1.001880e+10,2194,No,100188,Chickasaw City,Chickasaw City,AL,ALABAMA,...,0.000000,0.090373,55,0.108055,0.428291,26,175,509,46,218
22,103,85-89,1.001890e+10,2195,No,100189,Satsuma City,Satsuma City,AL,ALABAMA,...,0.000000,0.181818,376,0.589342,0.103448,120,89,638,116,66
23,435,97,1.001900e+10,1183,No,100190,Alabaster City,Alabaster City,AL,ALABAMA,...,0.027167,0.225067,409,0.218133,0.294400,270,264,1875,422,552
24,220,95,1.001940e+10,2399,No,100194,Pelham City,Pelham City,AL,ALABAMA,...,0.000000,0.364341,472,0.522702,0.075305,95,103,903,329,68
25,568,89,1.002100e+10,36,No,100210,Auburn City,Auburn City,AL,ALABAMA,...,0.000000,0.342661,574,0.327813,0.097087,774,246,1751,600,170
26,6,LT50,1.002100e+10,37,No,100210,Auburn City,Auburn City,AL,ALABAMA,...,0.000000,0.000000,403,0.315831,0.186520,-28,30,1276,0,238
27,48,80-89,1.002400e+10,45,No,100240,Autauga County,Autauga County,AL,ALABAMA,...,0.000000,0.108865,112,0.174184,0.217729,56,300,643,70,140
28,147,80-84,1.002400e+10,46,No,100240,Autauga County,Autauga County,AL,ALABAMA,...,0.000000,0.249545,58,0.105647,0.014572,34,17,549,137,8
29,514,87,1.002400e+10,48,No,100240,Autauga County,Autauga County,AL,ALABAMA,...,0.000000,0.232558,406,0.200891,0.022761,213,341,2021,470,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21837,13,GE50,5.604510e+11,133,No,5604510,Natrona County School District #1,Natrona County School District #1,WY,WYOMING,...,0.000000,0.086667,17,0.113333,0.000000,-54,75,150,13,0
21838,416,76,5.604510e+11,229,No,5604510,Natrona County School District #1,Natrona County School District #1,WY,WYOMING,...,0.000000,0.246154,44,0.026036,0.184615,575,593,1690,416,312
21839,432,81,5.604510e+11,231,No,5604510,Natrona County School District #1,Natrona County School District #1,WY,WYOMING,...,0.010101,0.214286,62,0.039541,0.096939,416,649,1568,336,152
21840,57,40-49,5.604510e+11,256,No,5604510,Natrona County School District #1,Natrona County School District #1,WY,WYOMING,...,0.000000,0.400000,-18,-0.144000,0.960000,-27,82,125,50,120
21841,66,80-84,5.604830e+11,263,No,5604830,Weston County School District #1,Weston County School District #1,WY,WYOMING,...,0.000000,0.260504,-18,-0.075630,0.033613,-54,0,238,62,8
21842,54,80-89,5.604860e+11,267,No,5604860,Sublette County School District #1,Sublette County School District #1,WY,WYOMING,...,0.000000,0.245353,340,1.263941,0.000000,41,52,269,66,0
21843,12,GE50,5.604860e+11,559,No,5604860,Sublette County School District #1,Sublette County School District #1,WY,WYOMING,...,0.000000,0.304348,2,0.086957,0.000000,-54,12,23,7,0
21844,74,80-84,5.605090e+11,273,No,5605090,Platte County School District #1,Platte County School District #1,WY,WYOMING,...,0.000000,0.374593,97,0.315961,0.006515,67,26,307,115,2
21845,4,PS,5.605090e+11,391,No,5605090,Platte County School District #1,Platte County School District #1,WY,WYOMING,...,0.000000,0.000000,-18,-1.125000,0.000000,-34,0,16,0,0
21846,6,GE50,5.605090e+11,392,No,5605090,Platte County School District #1,Platte County School District #1,WY,WYOMING,...,0.000000,0.000000,8,0.500000,0.000000,-32,10,16,0,0
21847,14,GE50,5.605160e+11,196,No,5605160,Park County School District # 1,Park County School District # 1,WY,WYOMING,...,0.000000,0.411765,-18,-1.058824,0.588235,-32,0,17,7,10
21848,101,90-94,5.605160e+11,278,No,5605160,Park County School District # 1,Park County School District # 1,WY,WYOMING,...,0.000000,0.500000,268,0.565401,0.063291,213,54,474,237,30
21849,194,75-79,5.605220e+11,286,No,5605220,Fremont County School District #25,Fremont County School District #25,WY,WYOMING,...,0.000000,0.232704,88,0.110692,0.485535,259,491,795,185,386
21850,23,40-59,5.605220e+11,562,No,5605220,Fremont County School District #25,Fremont County School District #25,WY,WYOMING,...,0.000000,0.631579,-18,-0.473684,0.000000,-54,29,38,24,0
21851,11,GE50,5.605300e+11,293,No,5605302,Sweetwater County School District #1,Sweetwater County School District #1,WY,WYOMING,...,0.000000,0.520000,91,1.820000,0.000000,-21,10,50,26,0
21852,340,79,5.605300e+11,294,No,5605302,Sweetwater County School District #1,Sweetwater County School District #1,WY,WYOMING,...,0.000000,0.164765,574,0.409415,0.199715,530,398,1402,231,280
21853,4,PS,5.605680e+11,308,No,5605680,Sheridan County School District #3,Sheridan County School District #3,WY,WYOMING,...,0.000000,0.303030,28,0.848485,0.000000,-29,4,33,10,0
21854,37,GE90,5.605690e+11,311,No,5605690,Sheridan County School District #1,Sheridan County School District #1,WY,WYOMING,...,0.000000,0.264901,-18,-0.119205,0.013245,28,26,151,40,2
21855,22,GE80,5.605690e+11,312,No,5605690,Sheridan County School District #1,Sheridan County School District #1,WY,WYOMING,...,0.000000,0.193798,100,0.775194,0.031008,-24,6,129,25,4
21856,1,PS,5.605690e+11,554,No,5605690,Sheridan County School District #1,Sheridan County School District #1,WY,WYOMING,...,0.000000,0.000000,-18,-9.000000,0.000000,-54,0,2,0,0
21857,20,60-79,5.605700e+11,189,No,5605695,Sheridan County School District #2,Sheridan County School District #2,WY,WYOMING,...,0.000000,0.312500,-18,-0.375000,0.125000,-54,12,48,15,6
21858,236,89,5.605700e+11,360,No,5605695,Sheridan County School District #2,Sheridan County School District #2,WY,WYOMING,...,0.000000,0.298067,508,0.516785,0.046796,367,145,983,293,46
21859,30,GE80,5.605700e+11,323,No,5605700,Fremont County School District #24,Fremont County School District #24,WY,WYOMING,...,0.000000,0.408696,115,1.000000,0.000000,12,40,115,47,0
21860,22,40-59,5.605760e+11,164,No,5605762,Sweetwater County School District #2,Sweetwater County School District #2,WY,WYOMING,...,0.000000,0.369565,-18,-0.391304,0.391304,-32,25,46,17,18
21861,176,85-89,5.605760e+11,324,No,5605762,Sweetwater County School District #2,Sweetwater County School District #2,WY,WYOMING,...,0.000000,0.332046,223,0.287001,0.141570,107,250,777,258,110
21862,10,GE50,5.605820e+11,393,No,5605820,Washakie County School District #2,Washakie County School District #2,WY,WYOMING,...,0.000000,0.145455,31,0.281818,0.000000,-32,19,110,16,0
21863,127,GE95,5.605830e+11,335,No,5605830,Teton County School District #1,Teton County School District #1,WY,WYOMING,...,0.000000,0.000000,355,0.554688,0.040625,154,85,640,0,26
21864,18,GE80,5.605830e+11,512,No,5605830,Teton County School District #1,Teton County School District #1,WY,WYOMING,...,0.000000,0.000000,-18,-0.333333,0.185185,-36,13,54,0,10
21865,21,GE80,5.606090e+11,401,No,5606090,Weston County School District #7,Weston County School District #7,WY,WYOMING,...,0.000000,0.240000,85,0.850000,0.000000,18,26,100,24,0
21866,105,75-79,5.606240e+11,343,No,5606240,Washakie County School District #1,Washakie County School District #1,WY,WYOMING,...,0.000000,0.272500,-18,-0.045000,0.025000,42,35,400,109,10

In [115]:
combo.describe()

,Unnamed: 0,NCESSCH,ALL_COHORT_1516,LEAID_y,SCHID,COMBOKEY,TOT_ENR_M,TOT_ENR_F,TOT_GTENR_M,TOT_GTENR_F,...,harassed_rate,activities_funds_rate,total_pass_algebra,pass_algebra_rate,total_geometry,geometry_rate,total_algebra2,algebra2_rate,total_calc,calc_rate
count,21867.000000,2.186700e+04,21867.000000,2.186700e+04,21867.000000,2.186700e+04,21867.000000,21867.000000,21867.000000,21867.000000,...,21867.000000,2.186700e+04,21867.000000,21867.000000,21867.000000,21867.000000,21867.000000,21867.000000,21867.000000,21867.000000
mean,10933.000000,2.781234e+11,161.376686,2.781234e+06,2843.349248,2.781234e+11,360.295651,344.832350,21.993643,23.813372,...,-0.003051,4.980964e+03,92.339004,-0.013919,144.717199,0.125778,126.098916,0.087531,23.065715,-0.092238
std,6312.603504,1.598186e+11,180.009443,1.598186e+06,3524.581030,1.598186e+11,379.230986,371.948781,66.160711,73.486343,...,0.328439,6.080624e+04,137.744160,0.800957,184.426660,0.452398,168.287035,0.457301,66.291152,0.462051
min,0.000000,1.000050e+10,1.000000,1.000050e+05,1.000000,1.000050e+10,-5.000000,-5.000000,-9.000000,-9.000000,...,-22.500000,-4.500000e+00,-36.000000,-18.000000,-18.000000,-9.000000,-18.000000,-9.000000,-18.000000,-9.000000
25%,5466.500000,1.300120e+11,32.000000,1.300120e+06,685.000000,1.300120e+11,85.000000,76.000000,-9.000000,-9.000000,...,0.000000,5.286142e+02,2.000000,0.009915,19.000000,0.114391,14.000000,0.080000,-18.000000,-0.084112
50%,10933.000000,2.718570e+11,90.000000,2.718570e+06,1615.000000,2.718570e+11,218.000000,209.000000,-9.000000,-9.000000,...,0.000000,1.248049e+03,41.000000,0.113162,72.000000,0.201383,59.000000,0.166437,7.000000,0.014493
75%,16399.500000,4.101725e+11,245.000000,4.101725e+06,3670.000000,4.101725e+11,534.000000,513.000000,23.000000,23.000000,...,0.000947,3.365737e+03,142.000000,0.175246,217.000000,0.255807,187.000000,0.227487,31.000000,0.042271
max,21866.000000,5.606240e+11,4713.000000,5.606240e+06,90469.000000,5.606240e+11,6713.000000,7733.000000,1008.000000,1170.000000,...,2.500000,5.882562e+06,2862.000000,2.000000,1976.000000,1.243243,2354.000000,1.000000,854.000000,1.000000